html{color:#000;background:#FFF;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td,select
{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset, img{border:0;}
em, strong{font-style:normal;font-weight:normal;}
li{list-style:none;}
h1, h2, h3, h4, h5, h6{font-size:100%;font-weight:normal;}
body, input, button, textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;}
a{ text-decoration:none;outline:none;}
a:hover{ cursor:pointer;}
/* th, td{vertical-align:top;} */
div{ font-size:12px; font-family:'Microsoft YaHei'; text-align:left;}
a{ text-decoration:none; font-size:12px;}
 table,table td{border-collapse: collapse;border-spacing: 0;}
.m7{ margin-top:7px;}
.ml135{ margin-left:135px;}
.ml5{ margin-left:5px;}
.margint10{ margin-top:10px;}
.marginr10{ margin-right:10px;}
.paddingtop0{ padding-top:0px!important;}
.margintop0{ margin-top:0px!important;}
.paddingt10{ padding-top:10px!important;}
.paddingb40{ padding-bottom:40px!important;}
.margin40{ margin-bottom:40px!important;}
.paddingleft15{ padding-left:15px;}
.paddingright15{ padding-right:15px;}
input[type=text],input[type=password],textarea,select{background-color: #fff;border: 1px solid #ccc;color:#555;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition: border linear .2s,box-shadow linear .2s;-moz-transition: border linear .2s,box-shadow linear .2s;-o-transition: border linear .2s,box-shadow linear .2s;transition: border linear .2s,box-shadow linear .2s;border-radius: 3px;}
select{display: inline-block;font-size: 13px;line-height: 20px;color: #555;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-color: #fff;border: 1px solid #ccc;}
table{ font-size:12px;}
.left{ float:left;}
.right{ float:right;}
.lr15{ margin-right:15px; text-align:right}
.w350{ width:350px!important;}
.w200{ width:200px!important;}
.w100{ width:100px!important;}
.w150{ width:150px!important;}
.bggry{ background-color:#f0f0f0; height:}
.gray{ color:#999}
.paddingbom50{ padding-bottom:50px;}
.red{ color:#F71616}
.highlight{ background-color:#FFFF80!important;}
.loading{ height:200px; text-align:center;}


/*��ť����*/
.btn_operate{display: block;overflow: hidden; padding:4px 0px;
}
.btn_operate ul{ margin:0; padding:0; list-style:none; width:100%;}
.btn_operate ul li{ float: left;display: block; height: 24px; width:110px;
background:url(../images/r_but03.png) repeat-x left top; height:22px; padding:0 4px; font-size:12px; border:1px solid #a7bbc3; margin-right:6px;
}

.btn_operate ul li :hover{float: left;display: block;height: 24px; width:100px;
background:url(../images/r_but03_h.png) repeat-x left top; height:22px; padding:0 4px; font-size:12px; 
}
.btn_operate ul li a{display: block;padding: 0 5px 0 0; height:22px; line-height:22px;text-decoration: none; color:#000;background:url(../images/btn_img.png) no-repeat; padding-left:20px;}
.btn_operate ul li a:hover{color:#b56415; background:url(../images/btn_img.png) no-repeat; padding-left:20px;}
.btn_operate ul li a.btn_submit span{background-position: 0 0;}
.btn_operate ul li a.btn_del_all span{background-position: 0 -103px;}

.btn_operate ul .width200{width:340px;}
.btn_operate ul .width200 :hover{width:340px;}

.btn_operate ul .width160{width:340px;}
.btn_operate ul .width160 :hover{width:340px;}

.btn_operate ul li a.btn_download {background-position: 0 0px;}
.btn_operate ul li a.btn_edit {background-position: 0 -20px;}
.btn_operate ul li a.btn_lock {background-position: 0 -40px;}
.btn_operate ul li a.btn_star {background-position: 0 -61px;}
.btn_operate ul li a.btn_tick {background-position: 0 -82px;}
.btn_operate ul li a.btn_close {background-position: 0 -104px;}
.btn_operate ul li a.btn_member {background-position: 0 -124px;}
.btn_operate ul li a.btn_star {background-position: 0 -144px;}
.btn_operate ul li a.btn_stop {background-position: 0 -163px;}
.operate_title{ height:27px; line-height:27px; padding-left:10px;}
.selected{ background-color:#D4E7F0}


/*����ذ�ť*/
.complete_back{ border:none; height:22px; color: #fff; cursor:pointer;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #49afcd;
background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
background-repeat: repeat-x;
border-color: #2f96b4 #2f96b4 #1f6377;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);}
.complete_back:active{color:#fff;background-color:#4695f6;background-image:-webkit-gradient(linear,left top,left bottom,from(#2a87a2),to(#2f96b4));background-image:-webkit-linear-gradient(top,#2a87a2,#2f96b4);background-image:-moz-linear-gradient(top,#2a87a2,#2f96b4);background-image:-ms-linear-gradient(top,#2a87a2,#2f96b4);background-image:-o-linear-gradient(top,#2a87a2,#2f96b4);background-image:linear-gradient(top,#2a87a2,#2f96b4);filter:progid:DXImageTransform.Microsoft.gradient(StartColorStr="#2a87a2",EndColorStr="#2f96b4")}