
/* 创建时间      2014.5.27   
   创建人        朱锐
   作 用         信和财富管理系统 index页面样式
   修改人        -----
   */

/*-------------样式重置----------------*/

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li,pre, fieldset, lengend, button, input, textarea, th, td { margin: 0; padding: 0;}
body,button, input, select, textarea {font: 12px/1 "微软雅黑","宋体";}
ul,li{ list-style-style:none;}
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var {font-style: normal; }
small { font-size: 12px;}
ul, ol,li{ list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
q:before, q:after { content: ''; }
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; } 
button, input, select, textarea {font-size:100%;}
table {border-collapse: collapse;border-spacing: 0;}	
hr { border: none; height:1px;}
.clear{clear:both;}
r_input100{border:1px solid }
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }


/*--------------------------------------------------------*/
/*-------------信和财富管理系统 index页面样式----------------*/
/*--------------------------------------------------------*/
.r_wrap{width:100%;}
#r_header{width:100%; height:76px; background:url(../images/r_topBg.jpg) repeat-x; border-bottom:1px solid #084877;}
#r_center{width:100%;}
#r_bottom{width:100%; height:34px; background:#145976;}


/*---表头样式----*/

.r_logo{width:348px; height:76px;background:#0C0; background:url(../images/r_logo.jpg) left top no-repeat;float:left;}
/* .r_oHbox{width:1220px; }width:720px; */
.r_oHnav{float:left;width:820px; float:left;}
.r_oHnav1{float:left; float:left;}
.r_oHwrapBox{width:1346px;}
.r_oUserBox{float:left; /* width:100px;*/height:72px;}

/*---导航样式开始----*/

.r_nav{float:left; background:url(../images/r_navBg01.jpg) left top no-repeat; padding-left:50px;}
.r_nav li{width:90px; height:76px; float:left;  margin-right:6px; text-align:center;}
.r_nav li a{display:block; width:100%; height:76px;  position:relative;}
.r_nav li p{display:block; width:100%; height:32px;line-height:32px; font-family:"微软雅黑"; font-size:14px; color:#FFF; position:absolute; left:0; bottom:0;}

.x_c01 a {background:url(../images/x_c01.png) no-repeat center 12px;}
.x_c01 a:hover{background:url(../images/x_c01_h.png) no-repeat center 12px;}
.x_c01:hover{background:url(../images/r_nav_h.png) repeat-x}

.x_c02 a {background:url(../images/x_c02.png) no-repeat center 12px;}
.x_c02 a:hover{background:url(../images/x_c02_h.png) no-repeat center 12px;}
.x_c02:hover{background:url(../images/r_nav_h.png) repeat-x}

.x_c03 a {background:url(../images/x_c03.png) no-repeat center 12px;}
.x_c03 a:hover{background:url(../images/x_c03_h.png) no-repeat center 12px;}
.x_c03:hover{background:url(../images/r_nav_h.png) repeat-x}

.x_c04 a {background:url(../images/x_c04.png) no-repeat center 12px;}
.x_c04 a:hover{background:url(../images/x_c04_h.png) no-repeat center 12px;}
.x_c04:hover{background:url(../images/r_nav_h.png) repeat-x}

.x_c05 a {background:url(../images/x_c05.png) no-repeat center 12px;}
.x_c05 a:hover{background:url(../images/x_c05_h.png) no-repeat center 12px;}
.x_c05:hover{background:url(../images/r_nav_h.png) repeat-x}
.r_n01 a {background:url(../images/r_n01.png) no-repeat center 12px;}
.r_n01 a:hover{background:url(../images/r_n01_h.png) no-repeat center 12px;}
.r_n01:hover{background:url(../images/r_nav_h.png) repeat-x}

.r_n02 a {background:url(../images/r_n02.png) no-repeat center 12px;}
.r_n02 a:hover{background:url(../images/r_n02_h.png) no-repeat center 12px;}
.r_n02:hover{background:url(../images/r_nav_h.png) repeat-x}

.r_n03 a {background:url(../images/r_n03.png) no-repeat center 12px;}
.r_n03 a:hover{background:url(../images/r_n03_h.png) no-repeat center 12px;}
.r_n03:hover{background:url(../images/r_nav_h.png) repeat-x}

.r_n04 a {background:url(../images/r_n04.png) no-repeat center 12px;}
.r_n04 a:hover{background:url(../images/r_n04_h.png) no-repeat center 12px;}
.r_n04:hover{background:url(../images/r_nav_h.png) repeat-x}

.r_n05 a {background:url(../images/r_n05.png) no-repeat center 12px;}
.r_n05 a:hover{background:url(../images/r_n05_h.png) no-repeat center 12px;}
.r_n05:hover{background:url(../images/r_nav_h.png) repeat-x}

.r_n06 a {background:url(../images/r_n06.png) no-repeat center 12px;}
.r_n06 a:hover{background:url(../images/r_n06_h.png) no-repeat center 12px;}
.r_n06:hover{background:url(../images/r_nav_h.png) repeat-x}

.r_n07 a {background:url(../images/r_n07.png) no-repeat center 12px;}
.r_n07 a:hover{background:url(../images/r_n07_h.png) no-repeat center 12px;}
.r_n07:hover{background:url(../images/r_nav_h.png) repeat-x}

.r_n08 a {background:url(../images/r_n08.png) no-repeat center 12px;}
.r_n08 a:hover{background:url(../images/r_n08_h.png) no-repeat center 12px;}
.r_n08:hover{background:url(../images/r_nav_h.png) repeat-x}

.r_user{background:#003;float:right;/* width:180px;  */height:76px; background:url(../images/r_userbg.png) left top no-repeat; position:relative;}
.r_user p{/* position:absolute; left:86px; top:0px;width:120px;*/ position:absolute; top:30px; right:-113px;height:76px; color:#FFF; float:right;}
.r_user .r_name{/* position:absolute; left:8px; top:24px; */display:block;}
.r_user .r_name:hover{color:#d9af56;}
.r_user .r_ext{/* position: absolute;left: 8px;top: 40px; */ display:block;cursor: pointer;color: #fff;text-decoration: none;}
.r_user .r_ext:hover{color:#d9af56;}

/*---中间主面内容表格样式----*/
#r_center table{width:100%;}
.r_lt{width:210px; background:#dde5e8; }
.r_ct{background:#F00;width:8px; background:#064a66;}
.r_rt{background:#F00; background:#064a66;}

/*-----左边树样式开始------*/
.r_title01{width:100%;height:32px; background:url(../images/r_tit01.png) left top repeat-x; border-bottom:1px solid #084877;}

.r_title01 h2{height:32px; background:url(../images/r_tit01font.png) left center no-repeat; color:#FFF; font-size:14px; line-height:32px; text-align:center; font-family:'瀵邦喛钂嬮梿鍛寸拨'; font-weight:normal;}
.sidebar_left{ width:194px;height:auto; float:left; margin-bottom:20px; border-left:1px solid #aac9dd; border-bottom:1px solid #aac9dd; border-right:1px solid #aac9dd; margin:6px 6px 0px; }
.bar_search{ margin:10px auto;}
.sidebar_left_border{margin-left:1px; margin-right:1px;}
.accordion-group{-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;margin-bottom: 0;border-color: #ccc;  margin-top:4px;}
.accordion-heading{background:url(../images/r_otit.png) left top repeat-x;border-top:#4893c4 solid 1px; height:30px; line-height:30px;border-bottom:1px solid #3777a0; cursor:pointer;margin-bottom:4px;}
.accordion-heading:hover{ background-color:#cfcfcf}
.according_lay{display: block;color:#fff; font-family:'微软雅黑'; font-size:14px;line-height:30px; background:url(../images/r_icon01.png) 6px center no-repeat; padding-left:12px; }
.according_lay:hover{display: block;color:#fff; font-family:'微软雅黑'; font-size:14px;line-height:30px;text-decoration:none;}
.accordion-inner{background:#dde5e8;}
.accordion-inner ul{ margin:0; padding:0;list-style:none;}
.accordion-inner ul.nav_list{ padding-left:8px; padding-right:8px;}
.accordion-inner ul li{ line-height:30px; background:url(../images/r_oline.png) left bottom repeat-x; height:30px; overflow:hidden;}
.accordion-inner ul li a{ display:block; color:#333; background:url(../images/r_icon02.png) 24px center no-repeat; height:30px;padding-left:46px;}
.accordion-inner ul li a:hover{ display:block; color:#333; background:url(../images/r_icon02_h.png) 24px center no-repeat; padding-left:46px; color:#b56415;} 
.accordion-inner ul li:hover{ background-color:#cfd9dd;color:#b56415;}
.common_side_list{ width:14px; height:14px; /*background:url(../images/glyphicons-halflings.png) no-repeat; */display:inline-block; vertical-align:text-top;}
.list_position_sid{ background-position:-384px -120px}
.list_position_sik{ background-position:-240px 0}
.list_position_sia{ background-position:-168px 0}
.list_position_sib{ background-position:-432px 0}
.list_position_siv{ background-position:-48px -120px}
.side_bar_along{ width:177px; height:92px; position:absolute; left:30px; bottom:10px;}
.side_bar_along ul.along_side{ margin:0; padding:0; list-style:none; padding:5px; background-color:#FFF;}
.side_bar_along ul li{ line-height:26px; height:26px;overflow:hidden; border-bottom:1px dotted #CCC;}
.side_bar_along ul li span{ float:right;}
.side_bar_along ul li strong{ color:#222; font-size:12px; font-family:'微软雅黑'; padding-left:3px;}
.side_bar_along ul li span.yel_war{ color:#F5AA1A}
.side_bar_along ul li span.gre_war{ color:#70A415}
.side_bar_along ul li span.red_war{ color:#C62626}
.accordion-heading span.account_smilp{ background:rgba(0,0,0,.2); padding:5px; float:right; color:#724109; margin-top:5px; margin-right:3px;-webkit-border-radius: 4px;
-moz-border-radius: 4px;border-radius: 4px;-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.15),inset 0 1px 2px rgba(0,0,0,0.5);-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.15),inset 0 1px 2px rgba(0,0,0,0.5);box-shadow: 0 1px 0 rgba(255,255,255,0.15),inset 0 1px 2px rgba(0,0,0,0.5);}
.r_mt{margin-top:0px;}
/*---中间隐藏样式----*/
.switch_onchang{width:10px; height:30px; background:#000; cursor:pointer;}
.switch_onchang_hide{width:10px; height:30px; background:#000; cursor:pointer;}

/*---底部样式开始----*/
#r_bottom{color:#afbec9; font-size:12px; line-height:34px; text-align:center;}
.r_oAbox
.footer{ width:100%; height:30px; line-height:30px; text-align:center; background-color:#E5EDEF; border-top:1px solid #B8D0D6;}
