<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:task="http://www.springframework.org/schema/task"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-3.2.xsd
      http://www.springframework.org/schema/task
      http://www.springframework.org/schema/task/spring-task-3.2.xsd" >
	
	<import resource="Acontext-datasource1.xml" />
	<import resource="Acontext-datasource2.xml" />
	<import resource="ApplicationContext-service.xml" />

	<bean id="dataSource" class="cn.taskSys.mybatis.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry value-ref="dataSourceTask" key="dataSourceTask"></entry>
				<entry value-ref="hwDataSource" key="hwDataSource"></entry>
			</map>
		</property>
		<!-- 默认使用ds1的数据源 -->
		<property name="defaultTargetDataSource" ref="dataSourceTask" />
	</bean>  
	
     <!--  配置DataSource数据源 -->
 <!-- <context:property-placeholder location="classpath:jdbc.properties"/>
 
      <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="initialSize" value="${jdbc.initialSize}" />
		<property name="maxActive" value="${jdbc.maxActive}" />
		<property name="maxWait" value="${jdbc.maxWait}" />
		<property name="removeAbandoned">
            <value>true</value>
        </property>
        <property name="removeAbandonedTimeout">
             <value>60</value>
        </property>
		<property name="poolPreparedStatements" value="${jdbc.poolPreparedStatements}" />
	</bean> -->
	
    
	<!-- 定义Myibatis,dao可自动注入 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.taskSys.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
    </bean>
   <!-- 创建SqlSessionFactory，同时指定数据源 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
         <property name="mapperLocations" value="classpath*:cn/taskSys/xml/*Mapper.xml" />
         <property name="configLocation" value="classpath:mybatis-config.xml"></property>
    </bean> 
    
    
	<task:scheduled-tasks>
		<task:scheduled ref="taskController" method="taskExecuteTaskEr" cron="0 0 9 * * ? "/>
		<task:scheduled ref="taskController" method="taskExecuteTaskLater" cron="0 0 16 * * ? "/>
		<task:scheduled ref="taskScoreController" method="executeScoreByDay" cron="0 0 5 * * ? "/>
		<task:scheduled ref="taskWorkTimeController" method="executeTaskWorkTimeByDay" cron="0 30 4 * * ? "/>
		<task:scheduled ref="taskAttenceController" method="executeAttenceByDay" cron="0 0 02 * * ? "/>
		<task:scheduled ref="taskAttenceController" method="savePersonAttence" cron="0 0 04 * * ? "/>
		<task:scheduled ref="taskSysController" method="executeSysInfoByDay" cron="0 0 01 * * ? "/>
		<task:scheduled ref="taskOAController" method="executeTaskByDay" cron="0 0 03 * * ? "/>
	</task:scheduled-tasks>
	<context:component-scan base-package="cn.taskSys.controller.task.*" />
</beans>