<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.AdminDao">
	<resultMap type="cn.taskSys.entity.TaskInfo" id="Base_Result_Map">
		<result column="ID" property="id" />
		<result column="ALLOCATIONUSER" property="allocationUser" />
		<result column="CREATETIME" property="createTime" />
		<result column="TASKNAME" property="taskname" />
		<result column="TASKCONTENT" property="taskContent" />
		<result column="EXPECTENDTIME" property="expectEndTime" />
		<result column="ACTUALENDTIME" property="actualEndTime" />
		<result column="EXECUTEDEVTASKSYS" property="executedevtasksys" />
		<result column="TASKSTATUS" property="taskstatus" />
		<result column="ISDEL" property="isdel" />
		<result column="REMARK" property="remark" />
		<result column="SCORE" property="score" />
		<result column="CREATE_NAME" property="create_name" />
		<result column="EXEC_NAME" property="exec_name" />
		<result column="DIRECT_SUPERVISOR" property="direct_supervisor" />
		<result column="TEAM" property="team" />
		<result column="JOB_ID" property="jobId" />
		<result column="DEPARTMENT" property="department" />
		<result column="YFPDATE" property="yfpDate" />
		<result column="JXZDATE" property="jxzDate" />
		<result column="SUBDATE" property="subDate" />
		<result column="ENDDATE" property="endDate" />	
		<result column="falred" property="falred" />	
		<result column="taskpid" property="taskpid" />	
		<result column="tjtype" property="tjtype" />
		<result column="page" property="page" />	
		<result column="maxResult" property="maxResult" />	
		<result column="con_quarter" property="conQuarter"/>
		<result column="con_year" property="conYear"/>
		<result column="t_level" property="tLevel"/>	
		<result column="deliver_person" property="deliver_person"/>	
		<result column="deliver_time" property="deliver_time"/>	
		<result column="is_pass" property="is_pass"/>	
		<result column="is_deliver" property="is_deliver"/>	
		<result column="delivered" property="delivered"/>	
		<result column="deliver_taskid" property="deliver_taskid"/>
		<result column="TASKWORKTIME" property="taskWorkTime"/>
		<result column="projectcode" property="projectCode"/>
		<result column="projectname" property="projectName"/>
		<result column="projectstage" property="projectStage"/>
		<result column="refusecause" property="refuseCause"/>
	</resultMap>
	
	<!-- 保存用户新建任务 -->
	
	   	<insert id="saveTask" parameterType="java.util.Map">  
	     INSERT INTO JX_TASKINFO 
	    	(
	    	<if test="id != null and id != '' ">
				ID,
			</if>
	        <if test="nowDate != null and nowDate != '' ">
				CREATETIME,
			</if>
	        <if test="userId != null and userId != '' ">
				ALLOCATIONUSER,
			</if>
			<if test="userName != null and userName != '' ">
				CREATE_NAME,
			</if>
				TASKSTATUS,
			<if test="taskname != null and taskname != '' ">
                TASKNAME,
            </if>
			<if test="taskContent != null and taskContent != '' ">
				TASKCONTENT,
			</if>
			<if test="taskWorkTime != null and taskWorkTime != '' ">
				TASKWORKTIME,
			</if>
				TASKPID,
			<if test="expectEndTime != null and expectEndTime != '' ">
				EXPECTENDTIME,
			</if>
			<if test="projectCode != null and projectCode != '' ">
				PROJECTCODE,
			</if>
			<if test="projectName != null and projectName != '' ">
				PROJECTNAME,
			</if>
			<if test="projectStage != null and projectStage != '' ">
				PROJECTSTAGE,
			</if>
				T_LEVEL,
				TSTATUS
			
				)
	    VALUES ( 
	         <if test="id != null and id != '' ">
				#{id},
			</if>
	        <if test="nowDate != null and nowDate != '' ">
				#{nowDate},
			</if>
	        <if test="userId != null and userId != '' ">
				#{userId},
			</if>
			<if test="userName != null and userName != '' ">
				#{userName},
			</if>
				'1',
			<if test="taskname != null and taskname != '' ">
                #{taskname},
            </if>
			<if test="taskContent != null and taskContent != '' ">
				#{taskContent},
			</if>
			<if test="taskWorkTime != null and taskWorkTime != '' ">
				#{taskWorkTime},
			</if>
				'1',
			<if test="expectEndTime != null and expectEndTime != '' ">
				#{expectEndTime},
			</if>
			<if test="projectCode != null and projectCode != '' ">
				#{projectCode},
			</if>
			<if test="projectName != null and projectName != '' ">
				#{projectName},
			</if>
			<if test="projectStage != null and projectStage != '' ">
				#{projectStage},
			</if>
				'0',
				'0'
			
	       )  
	</insert>
	
	<!-- 分页列表查询 -->
	<select id="getTaskInfoList1" resultType="java.util.HashMap"  parameterType="cn.taskSys.entity.TaskInfo" >
		
			select z.* from (
				select c.* from JX_TASKINFO c 
				where 1=1
			<if test="id != null and id != '' ">
				and c.id = #{id}
			</if>
			<if test="create_name != null and create_name != '' ">
				and c.create_name like '%${create_name}%'
			</if>
			<if test="exec_name != null and exec_name != '' ">
				and c.exec_name like '%${exec_name}%'
			</if>
			<if test="taskContent != null and taskContent != '' ">
				and c.taskContent like '%${taskContent}%'
			</if>
			<if test="projectName != null and projectName != '' ">
				and c.projectname like '%${projectName}%'
			</if>
			<if test="executedevtasksys != null and executedevtasksys != '' ">
				and c.executedevtasksys = #{executedevtasksys}
			</if>
			<if test="taskstatus != null and taskstatus != '' " >
				<choose >
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 10 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='5'
					</when>
					<when test="taskstatus != null and taskstatus != '' and  taskstatus == 11 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='7'
					</when>
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 12 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='6'				
					</when>
				<otherwise >and c.TASKSTATUS = #{taskstatus}</otherwise>
			</choose>
			</if>
			<![CDATA[ and c.TASKSTATUS <> '0' ]]>
			<if test="department != null and department != '' ">
				and c.DEPARTMENT = #{department}
			</if>
			<if test="team != null and team != '' ">
				and c.TEAM = #{team}
			</if>
			<if test="startTime != null and startTime != '' ">
				and c.createTime >= #{startTime}
			</if>
			<if test="endTime != null and endTime != '' ">
				and c.createTime &lt;= #{endTime}
			</if>
			<if test="lowScore != null and lowScore != '' ">
				and cast(c.score as int) >= cast(#{lowScore} as int)
			</if>
			<if test="highScore != null and highScore != '' ">
				and cast(c.score as int) &lt;= cast(#{highScore} as int)
			</if>
			<if test="expectEndTime1 != null and expectEndTime1 != '' ">
				and c.EXPECTENDTIME >= #{expectEndTime1}
			</if>
			<if test="expectEndTime2 != null and expectEndTime2 != '' ">
				and c.EXPECTENDTIME &lt;= #{expectEndTime2}
			</if>
			<choose>
				<when test="orderByPro != null and orderByPro != '' and orderByPro=='score' ">
					order by cast(score as int) ${orderByFlag}
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro=='taskstatus' ">
					order by taskstatus ${orderByFlag},tjtype ${orderByFlag}
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro!='score' and orderByPro!='taskstatus' ">
					order by ${orderByPro} ${orderByFlag}
				</when>
				<otherwise> order by createTime ${orderByFlag}</otherwise>
			</choose>
			)z  LIMIT 			 
			 <![CDATA[ #{maxResult} OFFSET ( #{page} - 1)*#{maxResult}   ]]>
		
	</select>
	
	<!-- 查询任务条数 -->
	<select id="getTaskInfoSize1" resultType="int" parameterType="cn.taskSys.entity.TaskInfo" >
		select count(*) from (
			select * from JX_TASKINFO c
			where 1=1
			<if test="id != null and id != '' ">
				and c.id = #{id}
			</if>
			<if test="create_name != null and create_name != '' ">
				and c.create_name like '%${create_name}%'
			</if>
			<if test="exec_name != null and exec_name != '' ">
				and c.exec_name like '%${exec_name}%'
			</if>
			
			<if test="taskContent != null and taskContent != '' ">
				and c.taskContent like '%${taskContent}%'
			</if>
			<if test="projectName != null and projectName != '' ">
				and c.projectname like '%${projectName}%'
			</if>
			<if test="executedevtasksys != null and executedevtasksys != '' ">
				and c.executedevtasksys = #{executedevtasksys}
			</if>
			<if test="taskstatus != null and taskstatus != '' " >
				<choose >
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 10 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='5'
					</when>
					<when test="taskstatus != null and taskstatus != '' and  taskstatus == 11 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='7'
					</when>
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 12 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='6'				
					</when>
					<otherwise>and c.TASKSTATUS = #{taskstatus}</otherwise>
				</choose>
			</if>
			<![CDATA[ and c.TASKSTATUS <> '0' ]]>
			<if test="department != null and department != '' ">
				and c.DEPARTMENT = #{department}
			</if>
			<if test="team != null and team != '' ">
				and c.TEAM = #{team}
			</if>
			<if test="startTime != null and startTime != '' ">
				and c.createTime >= #{startTime}
			</if>
			<if test="endTime != null and endTime != '' ">
				and c.createTime &lt;= #{endTime}
			</if>
			<if test="lowScore != null and lowScore != '' ">
				and cast(c.score as int) >= cast(#{lowScore} as int)
			</if>
			<if test="highScore != null and highScore != '' ">
				and cast(c.score as int) &lt;= cast(#{highScore} as int)
			</if>
			<if test="expectEndTime1 != null and expectEndTime1 != '' ">
				and c.EXPECTENDTIME >= #{expectEndTime1}
			</if>
			<if test="expectEndTime2 != null and expectEndTime2 != '' ">
				and c.EXPECTENDTIME &lt;= #{expectEndTime2}
			</if>
		) ky
	</select>
   <!-- 	<insert id="saveTask" parameterType="java.util.Map">  
	     INSERT INTO JX_TASKINFO 
	    	(ID,ALLOCATIONUSER,CREATETIME,CREATE_NAME,TASKSTATUS,TASKCONTENT,EXPECTENDTIME)        
	    VALUES  
	        (nextval('task_seq'),#{userId},CURRENT_TIMESTAMP,#{userName},'1',#{taskContent},#{expectEndTime})  
	 </insert> -->
	 
	 <!-- 查询任务-->
	<select id="getTaskInfoList" parameterType="java.util.Map" resultMap="Base_Result_Map">
		
			select z.* from (
				select c.* from JX_TASKINFO c 
				where 1=1
			<if test="taskInfo.create_name != null and taskInfo.create_name != '' ">
				and c.create_name like '%${taskInfo.create_name}%'
			</if>
			<if test="taskInfo.exec_name != null and taskInfo.exec_name != '' ">
				and c.exec_name like '%${taskInfo.exec_name}%'
			</if>
			<if test="taskInfo.executedevtasksys != null and taskInfo.executedevtasksys != '' ">
				and c.executedevtasksys = #{taskInfo.executedevtasksys}
			</if>
			<if test="taskstatus != null and taskstatus != '' " >
				<choose >
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 10 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='5'
					</when>
					<when test="taskstatus != null and taskstatus != '' and  taskstatus == 11 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='7'
					</when>
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 12 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='6'				
					</when>
					<otherwise>and c.TASKSTATUS = #{taskstatus}</otherwise>
				</choose>
			</if>
			<if test="taskInfo.department != null and taskInfo.department != '' ">
				and c.DEPARTMENT = #{taskInfo.department}
			</if>
			<if test="taskInfo.team != null and taskInfo.team != '' ">
				and c.TEAM = #{taskInfo.team}
			</if>
			<if test="taskInfo.startTime != null and taskInfo.startTime != '' ">
				and c.createTime >= #{taskInfo.startTime}
			</if>
			<if test="taskInfo.endTime != null and taskInfo.endTime != '' ">
				and c.createTime &lt;= #{taskInfo.endTime}
			</if>
			<if test="taskInfo.lowScore != null and taskInfo.lowScore != '' ">
				and cast(c.score as int) >= cast(#{taskInfo.lowScore} as int)
			</if>
			<if test="taskInfo.highScore != null and taskInfo.highScore != '' ">
				and cast(c.score as int) &lt;= cast(#{taskInfo.highScore} as int)
			</if>
			order by createTime desc
			)z  LIMIT #{nowNum} OFFSET #{begin}
		
	</select>
	
	<!-- 查询任务条数 -->
	<select id="getTaskInfoSize" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from (
			select * from JX_TASKINFO c
			where 1=1
			<if test="taskInfo.create_name != null and taskInfo.create_name != '' ">
				and c.create_name like '%${taskInfo.create_name}%'
			</if>
			<if test="taskInfo.exec_name != null and taskInfo.exec_name != '' ">
				and c.exec_name like '%${taskInfo.exec_name}%'
			</if>
			<if test="taskInfo.executedevtasksys != null and taskInfo.executedevtasksys != '' ">
				and c.executedevtasksys = #{taskInfo.executedevtasksys}
			</if>
			<if test="taskstatus != null and taskstatus != '' " >
				<choose >
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 10 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='5'
					</when>
					<when test="taskstatus != null and taskstatus != '' and  taskstatus == 11 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='7'
					</when>
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 12 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='6'				
					</when>
					<otherwise>and c.TASKSTATUS = #{taskstatus}</otherwise>
				</choose>
			</if>
			<if test="taskInfo.department != null and taskInfo.department != '' ">
				and c.DEPARTMENT = #{taskInfo.department}
			</if>
			<if test="taskInfo.team != null and taskInfo.team != '' ">
				and c.TEAM = #{taskInfo.team}
			</if>
			<if test="taskInfo.startTime != null and taskInfo.startTime != '' ">
				and c.createTime >= #{taskInfo.startTime}
			</if>
			<if test="taskInfo.endTime != null and taskInfo.endTime != '' ">
				and c.createTime &lt;= #{taskInfo.endTime}
			</if>
			<if test="taskInfo.lowScore != null and taskInfo.lowScore != '' ">
				and cast(c.score as int) >= cast(#{taskInfo.lowScore} as int)
			</if>
			<if test="taskInfo.highScore != null and taskInfo.highScore != '' ">
				and cast(c.score as int) &lt;= cast(#{taskInfo.highScore} as int)
			</if>
		) ky
	</select>
	
	 <!-- 查询我的工作台-->
	<select id="getMyWorkbenchInfoList" parameterType="java.util.Map" resultType="TaskInfo">
		
			select z.* from (
				select c.* from JX_TASKINFO c 
				where 1=1
			<if test="id != null and id != '' ">
				and c.id = #{id}
			</if>
			<if test="taskInfo.allocationUser != null and taskInfo.allocationUser != '' ">
				and c.ALLOCATIONUSER = #{taskInfo.allocationUser}
			</if>
			<if test="taskInfo.executedevtasksys != null and taskInfo.executedevtasksys != '' ">
				and c.EXECUTEDEVTASKSYS = #{taskInfo.executedevtasksys}
			</if>
			<if test="taskInfo.department != null and taskInfo.department != '' ">
				and c.department = #{taskInfo.department}
			</if>
			<if test="taskInfo.taskstatus != null and taskInfo.taskstatus != '' ">
				<if test="taskInfo.taskstatus == 1 or taskInfo.taskstatus == 2 or taskInfo.taskstatus == 0">
					and c.TASKSTATUS = #{taskInfo.taskstatus}
				</if>
				<if test="taskInfo.taskstatus == 3">
					and c.TASKSTATUS in ('5','6','7')
				</if>
			</if>
			<if test="taskInfo.taskstatus == 0 and taskInfo.is_pass!=null and taskInfo.is_pass!='' ">
				and c.is_pass = #{taskInfo.is_pass}
			</if>
			<choose>
				<when test="taskInfo.taskstatus == 0 and taskInfo.is_pass == 0 ">
					order by c.deliver_time desc
				</when>
				<when test="taskInfo.taskstatus == 1 ">
					order by c.CREATETIME desc
				</when>
				<when test="taskInfo.taskstatus == 2 ">
					order by c.YFPDATE desc
				</when>
				<when test="taskInfo.taskstatus == 3 ">
					order by c.SUBDATE desc
				</when>
				<otherwise>
					order by CREATETIME desc
				</otherwise>
			</choose>
			)z LIMIT #{nowNum} OFFSET #{begin}
	</select>
	
	<!-- 查询我的工作台任务条数 -->
	<select id="getMyWorkbenchInfoSize" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from (
			select * from JX_TASKINFO c
			where 1=1
			<if test="id != null and id != '' ">
				and c.id = #{id}
			</if>
			<if test="taskInfo.allocationUser != null and taskInfo.allocationUser != '' ">
				and c.ALLOCATIONUSER = #{taskInfo.allocationUser}
			</if>
			<if test="taskInfo.executedevtasksys != null and taskInfo.executedevtasksys != '' ">
				and c.EXECUTEDEVTASKSYS = #{taskInfo.executedevtasksys}
			</if>
			<if test="taskInfo.department != null and taskInfo.department != '' ">
				and c.department = #{taskInfo.department}
			</if>
			<if test="taskInfo.taskstatus != null and taskInfo.taskstatus != '' ">
				<if test="taskInfo.taskstatus == 1 or taskInfo.taskstatus == 2 or taskInfo.taskstatus == 0">
					and c.TASKSTATUS = #{taskInfo.taskstatus}
				</if>
				<if test="taskInfo.taskstatus == 3">
					and c.TASKSTATUS in ('5','6','7')
				</if>
			</if>
			<if test="taskInfo.taskstatus == 0 and taskInfo.is_pass!=null and taskInfo.is_pass!='' ">
				and c.is_pass = #{taskInfo.is_pass}
			</if>
		) ky
	</select>
	
	<!-- 查询我的工作台任务条数-待分配数量 -->
	<select id="getDfpTaskSize" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from (
			select * from JX_TASKINFO c
			where 1=1
			<if test="allocationUser != null and allocationUser != '' ">
				and c.ALLOCATIONUSER = #{allocationUser}
			</if>
				and c.TASKSTATUS = '1'
		) ky
	</select>
	<!-- 查询我的工作台任务条数-待接收数量 -->
	<select id="getDjsTaskSize" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from (
			select * from JX_TASKINFO c
			where 1=1
			<if test="executedevtasksys != null and executedevtasksys != '' ">
				and c.EXECUTEDEVTASKSYS = #{executedevtasksys}
			</if>
					and c.TASKSTATUS = '2'
		) ky
	</select>
	<!-- 查询我的工作台任务条数-待确认数量 -->
	<select id="getDqrTaskSize" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from (
			select * from JX_TASKINFO c
			where 1=1
			<if test="allocationUser != null and allocationUser != '' ">
				and c.ALLOCATIONUSER = #{allocationUser}
			</if>
					and c.TASKSTATUS in ('5','6','7')
		) ky
	</select>
	<!-- 查询我的工作台任务条数-待通过数量 -->
	<select id="getDtgTaskSize" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(*) from (
			select * from JX_TASKINFO c
			where c.is_pass = '0' and c.TASKSTATUS = '0'
			<if test="department != null and department != '' ">
				and c.department = #{department}
			</if>
		) ky
	</select>
	
	<update id="updateTaskInfo" parameterType="TaskInfo">
		UPDATE JX_TASKINFO set 
			<if test="taskstatus != null and taskstatus != '' ">taskstatus = #{taskstatus},</if>
			<if test="taskContent != null and taskContent != '' ">taskcontent = #{taskContent},</if>
			<if test="expectEndTime != null and expectEndTime != '' ">expectendtime = #{expectEndTime},</if>
			<if test="executedevtasksys != null">executedevtasksys = #{executedevtasksys},</if>
			<if test="exec_name != null">exec_name = #{exec_name},</if>
			<if test="department != null and department != '' ">department = #{department},</if>
			<if test="team != null and team != '' ">team = #{team},</if>
			<if test="jobId != null and jobId != '' ">job_id = #{jobId},</if>
			<if test="yfpDate != null and yfpDate != '' ">yfpdate = #{yfpDate},</if>
			<if test="jxzDate != null and jxzDate != '' ">jxzdate = #{jxzDate},</if>
			<if test="endDate != null and endDate != '' ">enddate = #{endDate},</if>
			<if test="tjtype != null and tjtype != '' ">tjtype = #{tjtype},</if>
			<if test="score != null and score != '' ">score = #{score},</if>
			<if test="conQuarter != null and conQuarter != '' ">con_quarter = #{conQuarter},</if>
			<if test="conYear != null and conYear != '' ">con_year = #{conYear},</if>
			<if test="is_pass != null and is_pass != '' ">is_pass = #{is_pass},</if>
			<if test="taskWorkTime != null and taskWorkTime != '' ">taskworktime = #{taskWorkTime},</if>
			<if test="projectName != null and projectName != '' ">projectname = #{projectName},</if>
			<if test="projectCode != null and projectCode != '' ">projectCode = #{projectCode},</if>
			<if test="projectStage != null and projectStage != '' ">projectstage = #{projectStage},</if>
			<if test="refuseCause != null and refuseCause != '' ">refusecause = #{refuseCause},</if>
			id = #{id} 
		 WHERE id = #{id}
	</update>
	<select id="getTaskInfoById" parameterType="java.lang.String" resultType="TaskInfo">
		select * from JX_TASKINFO WHERE id = #{id}
	</select>
	
	<select id="getFinishCount" parameterType="TaskInfo" resultType="java.lang.Integer">
		select count(*) from JX_TASKINFO t 
		where 1=1 
		<if test="taskstatus != null and taskstatus != '' ">
			and t.taskstatus = #{taskstatus} 
		</if>
		<if test="executedevtasksys != null and executedevtasksys != '' ">
			and t.EXECUTEDEVTASKSYS = #{executedevtasksys} 
		</if>
		<if test="allocationUser != null and allocationUser != '' ">
			and t.allocationuser = #{allocationUser} 
		</if>
		<if test="startTime != null and startTime != '' ">
			and t.enddate &gt; #{startTime} 
		</if>
		<if test="endTime != null and endTime != '' ">
			and t.enddate &lt;= #{endTime} 
		</if>
	</select>
	<select id="findTaskList" parameterType="cn.taskSys.entity.TaskInfo" resultType="TaskInfo">
		select c.* from JX_TASKINFO c where 1=1
		<if test="executedevtasksys != null and executedevtasksys != '' ">
			and c.EXECUTEDEVTASKSYS = #{executedevtasksys}
		</if>
		<if test="allocationUser != null and allocationUser != '' ">
			and c.allocationuser = #{allocationUser}
		</if>
		<if test="startTime != null and startTime != '' ">
			and c.enddate &gt; #{startTime} 
		</if>
		<if test="endTime != null and endTime != '' ">
			and c.enddate &lt;= #{endTime} 
		</if>
	</select>
	
	<delete id="delTask" parameterType="java.lang.String">
		delete from JX_TASKINFO where id = #{id}
	</delete>
	
	<!-- 任务导出列表 -->
	<select id="getTaskList" parameterType="cn.taskSys.entity.TaskInfo" resultMap="Base_Result_Map">
		select c.* from JX_TASKINFO c where 1=1 
		<if test="id != null and id != '' ">
			 and c.id = #{id}
		</if>
		<if test="create_name != null and create_name != '' ">
			 and c.create_name like '%${create_name}%'
		</if>
		<if test="exec_name != null and exec_name != '' ">
			 and c.exec_name like '%${exec_name}%'
		</if>
		<if test="executedevtasksys != null and executedevtasksys != '' ">
			 and c.executedevtasksys = #{executedevtasksys}
		</if>
		<if test="taskstatus != null and taskstatus != '' " >
				<choose >
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 10 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='5'
					</when>
					<when test="taskstatus != null and taskstatus != '' and  taskstatus == 11 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='7'
					</when>
					<when test="taskstatus != null and taskstatus != '' and taskstatus == 12 ">
					and c.TASKSTATUS = '8'
					and c.tjtype='6'				
					</when>
				<otherwise >and c.TASKSTATUS = #{taskstatus}</otherwise>
			</choose>
		</if>
		<if test="department != null and department != '' ">
			 and c.DEPARTMENT = #{department}
		</if>
		<if test="team != null and team != '' ">
			 and c.TEAM = #{team}
		</if>
		<if test="startTime != null and startTime != '' ">
			 and c.createTime >= #{startTime}
		</if>
		<if test="endTime != null and endTime != '' ">
			 and c.createTime &lt;= #{endTime}
		</if>
		<if test="lowScore != null and lowScore != '' ">
			 and cast(c.score as int) >= cast(#{lowScore} as int)
		</if>
		<if test="highScore != null and highScore != '' ">
			 and cast(c.score as int) &lt;= cast(#{highScore} as int)
		</if>
		<if test="deliver_taskid != null and deliver_taskid != '' ">
			 and c.deliver_taskid = #{deliver_taskid}
		</if>
		<if test="taskContent != null and taskContent != '' ">
			and c.taskcontent like '%${taskContent}%'
		</if>
		<if test="projectName != null and projectName != '' ">
			and c.projectname like '%${projectName}%'
		</if>
		<if test="expectEndTime1 != null and expectEndTime1 != '' ">
			and c.EXPECTENDTIME >= #{expectEndTime1}
		</if>
		<if test="expectEndTime2 != null and expectEndTime2 != '' ">
			and c.EXPECTENDTIME &lt;= #{expectEndTime2}
		</if>
		<![CDATA[ and c.TASKSTATUS <> '0' ]]>
		 order by createTime desc
	</select>
	
	<delete id="delTasksByIds" parameterType="java.util.List">
		delete from JX_TASKINFO where id in 
		<foreach item="ids" collection="list" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</delete>
	
	<!--查询当前月所有任务计算分数  -->
	<select id="getAllTaskInfoList" parameterType="java.util.Map" resultMap="Base_Result_Map">
		select * from JX_TASKINFO where TASKSTATUS ='8' and enddate like '${lastDate}%' or TASKSTATUS in ('3','4','5','6','7')
	</select>
	<!--查询当前月所有任务计算工作量  -->
	<select id="getAllTaskInfoList2" parameterType="java.util.Map" resultMap="Base_Result_Map">
		select * from JX_TASKINFO where (TASKSTATUS in ('5','6','7','8') and subdate like '${lastDate}%') or (TASKSTATUS in ('3','4') and CREATETIME like '${lastDate}%')
	</select>
	 <!-- 查询完成的任务-->
	<select id="getScoreTaskInfoList" parameterType="java.util.Map" resultMap="Base_Result_Map">
		select * from JX_TASKINFO where TASKSTATUS ='8' 
		<if test="userId != null and userId !='' ">
			and EXECUTEDEVTASKSYS = #{userId} 
		</if>
		<if test="startDay != null and startDay !='' ">
			and subdate >= #{startDay} 
		</if>
		<if test="overDay != null and overDay !='' ">
			and subdate &lt;=  #{overDay}
		</if>
	</select>
	
	<!-- 查询完成的任务2-->
	<select id="getScoreTaskInfoList2" parameterType="java.util.Map" resultMap="Base_Result_Map">
		
		select * from JX_TASKINFO where TASKSTATUS ='8' 
		
		<if test="lastDate != null and lastDate !='' ">
			and enddate like '${lastDate}%' 
		</if> 
	</select>
	<!-- 查询未完成的任务-->
	<select id="getunFinishTaskInfoList" parameterType="java.util.Map" resultMap="Base_Result_Map">
		select * from JX_TASKINFO where TASKSTATUS IN ('3','4','5','6','7') 
		<if test="nowDateT != null and nowDateT !='' ">
			 AND jxzdate &lt; #{nowDateT}
		</if> 
	</select>
		<!-- 查询满足条件的执行任务人的ID-->
	<select id="getAllExecutedevtasksysList" parameterType="java.util.Map" resultType="java.lang.String">
		
		select executedevtasksys from JX_TASKINFO where TASKSTATUS ='8' 
		
		<if test="lastDate != null and lastDate !='' ">
			and ENDDATE like '${lastDate}%' 
		</if>
		group by executedevtasksys
	</select>
	<!-- 根据任务创建人id查询任务-->
	<select id="getTaskIdListByUserId" parameterType="java.lang.String"  resultMap="Base_Result_Map">
		select * from JX_TASKINFO where 1=1
		<if test="_parameter != null and _parameter !='' ">
			and allocationuser = #{_parameter}
		</if>
	</select>
	<!-- 根据任务执行人id查询任务-->
	<select id="getTaskIdListByUserId2" parameterType="java.lang.String"  resultMap="Base_Result_Map">
		select * from JX_TASKINFO where 1=1
		<if test="_parameter != null and _parameter !='' ">
			and executedevtasksys = #{_parameter}
		</if>
	</select>
	
	<update id="updateExecName" parameterType="TaskInfo">
		UPDATE JX_TASKINFO set 
			<if test="exec_name != null and exec_name != '' ">exec_name = #{exec_name},</if>
			<if test="department != null and department != '' ">department = #{department},</if>
			<if test="team != null and team != '' ">team = #{team},</if>
			executedevtasksys = #{executedevtasksys}
		 WHERE executedevtasksys = #{executedevtasksys}
	</update>
	<update id="updatecreateName" parameterType="TaskInfo">
		UPDATE JX_TASKINFO set 
			<if test="create_name != null and create_name != '' ">create_name = #{create_name}</if>
		 WHERE allocationuser = #{allocationUser}
	</update>
	<!-- 审核任务-->
	<update id="checkTaskInfo" parameterType="TaskInfo">
		UPDATE JX_TASKINFO set is_pass='1'
			<if test="taskstatus != null and taskstatus != '' ">,taskstatus = #{taskstatus}</if>
			<if test="allocationUser != null and allocationUser != '' ">,allocationuser = #{allocationUser}</if>
			<if test="create_name != null and create_name != '' ">,create_name = #{create_name}</if>
			<if test="yfpDate != null and yfpDate != '' ">,yfpdate = #{yfpDate}</if>
		 WHERE id = #{id}
	</update>
	
	<update id="updateTaskInfo2" parameterType="TaskInfo">
		UPDATE JX_TASKINFO set is_pass='0' WHERE is_pass='2'
		<if test="deliver_taskid != null and deliver_taskid != '' ">and deliver_taskid = #{deliver_taskid}</if>
	</update>
	
	<!-- 部门任务-->
	<select id="departmentTaskTotle" parameterType="java.util.Map"  resultType="String">
		select tjtype from jx_taskinfo where department in (select code from jx_globe_dictionary  
		where type_code = '01') and department = (select department_id from jx_users  
		where 1=1 <if test="userId != null and userId !='' "> and user_id = #{userId}</if>) 
		and tjtype is not null and subdate like '${subDate}%'
	</select>
	<!--===================================== 按天计算工作量 =======================================-->
	
	<!-- 未完成的任务 -->
	<select id="doingTaskWork" parameterType="java.lang.String"  resultType="TaskInfo">
		select * from jx_taskinfo where taskstatus in ('3','4') and (allocationuser = #{userid} or executedevtasksys = #{userid})
	</select>
	<!-- 已经完成的任务 -->
	<select id="endTaskWork" parameterType="java.util.Map" resultMap="Base_Result_Map">
		select * from jx_taskinfo where taskstatus in ('5','6','7','8') and subdate like #{subDate} 
		and (allocationuser = #{userId} or executedevtasksys = #{userId})
	</select>
	
	
</mapper>





