<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.AttenceDao">
	<resultMap type="cn.taskSys.entity.Attence" id="Base_Result_Map">
		<result column="ja_id" property="id" />
		<result column="ja_name" property="username" />
		<result column="ja_code" property="empCode"/>
		<result column="ja_ssbm" property="department"/>
		<result column="ja_month" property="months"/>
		<result column="ja_state" property="state"/>
		<result column="ja_import_time" property="importTime"/>

	</resultMap>
	
	<insert id="saveAttence">
		INSERT INTO jx_attence
	    	(ja_id,ja_name,ja_code,ja_ssbm,ja_month,ja_state,ja_import_time)        
	    VALUES 
	    <foreach item="attence" collection="list" index="index" separator=",">
			(#{attence.id},#{attence.username},#{attence.empCode},#{attence.department},#{attence.months},#{attence.state},#{attence.importTime})
		</foreach>
	</insert>
	
	<select id="getAttenceList" parameterType="cn.taskSys.entity.Attence" resultType="cn.taskSys.entity.Attence">
		select z.* from (
			select a.ja_id id, a.ja_name username, a.ja_code empCode, u.department_id department, 
			a.ja_month months, a.ja_state state, a.ja_import_time importTime,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE u.department_id=p.code and p.type_code='01') departmentName,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.ja_state=p.code and p.type_code='08') stateName
			FROM jx_attence a,jx_users u where a.ja_code=u.login_name
			<if test="username != null and username != '' ">
				and a.ja_name like '%${username}%'
			</if>
			<if test="empCode != null and empCode != '' ">
				and a.ja_code=#{empCode}
			</if>
			<if test="state != null and state != '' ">
				and a.ja_state=#{state}
			</if>
			<if test="months != null and months != '' ">
				and a.ja_month=#{months}
			</if>
			<if test="department != null and department != '' ">
				and u.department_id=#{department}
			</if>
			order by u.department_id ,a.ja_code
		)z  LIMIT 			 
			 <![CDATA[ #{maxResult} OFFSET ( #{page} - 1)*#{maxResult}   ]]>
	</select>
	
	<select id="getAttenceListCount1" parameterType="cn.taskSys.entity.Attence" resultType="java.lang.Integer">
		select count(*) from (
			select a.ja_id id, a.ja_name username, a.ja_code empCode, u.department_id department, 
			a.ja_month months, a.ja_state state, a.ja_import_time importTime,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE u.department_id=p.code and p.type_code='01') departmentName
			FROM jx_attence a, jx_users u where a.ja_code=u.login_name
			<if test="username != null and username != '' ">
				and a.ja_name like '%${username}%'
			</if>
			<if test="empCode != null and empCode != '' ">
				and a.ja_code=#{empCode}
			</if>
			<if test="state != null and state != '' ">
				and a.ja_state=#{state}
			</if>
			<if test="months != null and months != '' ">
				and a.ja_month=#{months}
			</if>
			<if test="department != null and department != '' ">
				and u.department_id=#{department}
			</if>
		)k
	</select>
	
	<delete id="deleteAttenceByPro" parameterType="cn.taskSys.entity.Attence">
		delete from jx_attence where ja_month = #{months } and ja_code in 
		<foreach item="empCode" collection="empCodes" open="(" separator="," close=")">
			#{empCode}
		</foreach>
	</delete>
	
	<update id="modifyAttence" parameterType="cn.taskSys.entity.Attence">
		update jx_attence set ja_state=#{state} 
		where ja_code=#{empCode} and ja_month = #{months }
	</update>
	
	<!-- 查询打卡记录（MySQL） -->
	<!-- c.ng_parent_id='1170',科技公司 -->
	<select id="punchCardRecordList" parameterType="java.util.Map" resultType="cn.taskSys.entity.AttenceTemp">
		SELECT 
			a.ng_id userid,
			a.sz_employ_id empCode,
			a.sz_name username,
			a.dt_start_work startWorkDate, 
			c.ng_id department,
			c.sz_name departmentName,
			a.nt_user_state userState,
			a.dt_leave_date leaveDate, 
			d.ts_card punchCardTime,
			d.st_card_type
			FROM sys_user a 
			INNER JOIN sys_user_branch b ON a.ng_id = b.ng_user_id 
			LEFT JOIN sys_branch c ON b.ng_branch_id=c.ng_id 
			RIGHT JOIN stat_card d on a.ng_id=d.ng_user_id 
		where  a.nt_user_state=1
		<if test="currentDate!=null and currentDate!=''">
			and d.ts_card like '%${currentDate}%' 
		</if>
		and a.sz_employ_id in 
		<foreach item="empCode" collection="empCodes" open="(" separator="," close=")">
			#{empCode}
		</foreach>
	</select>
	
	<!-- 新入职员工后来同步到数据库的打卡记录（MySQL） -->
	<!-- c.ng_parent_id='1170',科技公司 -->
	<select id="punchCardRecordList2" parameterType="java.util.Map" resultType="cn.taskSys.entity.AttenceTemp">
		SELECT 
			a.ng_id userid,
			a.sz_employ_id empCode,
			a.sz_name username,
			a.dt_start_work startWorkDate, 
			c.ng_id department,
			c.sz_name departmentName,
			a.nt_user_state userState,
			a.dt_leave_date leaveDate, 
			d.ts_card punchCardTime,
			d.st_card_type
			FROM sys_user a 
			INNER JOIN sys_user_branch b ON a.ng_id = b.ng_user_id 
			LEFT JOIN sys_branch c ON b.ng_branch_id=c.ng_id 
			RIGHT JOIN stat_card d on a.ng_id=d.ng_user_id 
		where  a.nt_user_state=1 
		and a.dt_start_work= #{currentDate}	and d.ts_card like '${currentMonth}%' and d.ts_card &lt; #{currentDate}
		and a.sz_employ_id in 
		<foreach item="empCode" collection="empCodes" open="(" separator="," close=")">
			#{empCode}
		</foreach>
	</select>
	
	<!-- 科技公司所有人员工号（MySQL） -->
	<select id="findSysUsers" parameterType="java.util.List" resultType="java.util.Map">
		SELECT a.sz_employ_id empCode,a.sz_name username,cast(s.ng_branch_id as char) department FROM sys_user a,sys_user_branch s
		where a.nt_user_state=1 and a.ng_id=s.ng_user_id and s.ng_branch_id in (select ng_id from sys_branch where ng_parent_id='1170')
		and a.sz_employ_id in 
		<foreach item="empCode" collection="list" open="(" separator="," close=")">
			#{empCode}
		</foreach>
	</select>
	
	<!-- 科技公司所有在职人员工号（SRDB） -->
	<select id="findUsers" resultType="java.util.Map">
		select login_name empcode , user_name username ,department_id department  from jx_users where status = '0'
	</select>
</mapper>





