<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.EmployeeDao">
	<resultMap type="cn.taskSys.entity.Employee" id="Base_Result_Map">
		<result column="EMP_CODE" property="employeeCode" />
		<result column="EMP_NAME" property="employeeName" />
		<result column="ORGAN_ID" property="orgId" />
		<result column="EMP_POSITION" property="position" />
		<result column="JOB_LEVEL" property="jobLevel" />
		<result column="EMP_ORGCODE" property="employeeOrgCode" />
		<result column="POST_ID" property="postId" />
		<result column="EMP_SOURCE" property="employeeSource" />
		<result column="EMP_STATUS" property="status" />
		<result column="EMP_SEX" property="sex" />
		<result column="EMP_PARENTID" property="parentId" />
		<result column="EMP_PHONE" property="mobilePhone" />
		<result column="EMP_MAIL" property="email" />
		<result column="CREATE_BY" property="createBy" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="LAST_MODIFY_BY" property="lastModifyBy" />
		<result column="LAST_MODIFY_TIME" property="lastModifyTime" />
		<result column="EMP_REMARK" property="remark" />
	</resultMap>



	<!-- 通过员工编码记录查询 -->
	<select id="getEmployee" resultMap="Base_Result_Map"
		parameterType="String">
		SELECT t.emp_code,
		t.emp_name,
		t.organ_id,
		t.emp_position,
		t.job_level,
		t.emp_orgcode,
		t.post_id,
		t.emp_source,
		t.emp_status,
		t.emp_sex,
		t.emp_parentid,
		t.emp_phone,
		t.emp_mail,
		t.create_by,
		t.create_time,
		t.last_modify_by,
		t.last_modify_time,
		t.emp_remark
		FROM jx_employees t
		WHERE t.emp_code = #{employeeCode}
	</select>

	<!-- 通过条件查询员工记录 -->
	<select id="getEmployees" resultMap="Base_Result_Map"
		parameterType="Object">
		SELECT t.emp_code,
		t.emp_name,
		t.organ_id,
		t.emp_position,
		t.job_level,
		t.emp_orgcode,
		t.post_id,
		t.emp_source,
		t.emp_status,
		t.emp_sex,
		t.emp_parentid,
		t.emp_phone,
		t.emp_mail,
		t.create_by,
		t.create_time,
		t.last_modify_by,
		t.last_modify_time,
		t.emp_remark
		FROM jx_employees t
		<where>
			<if test="employeeCode != null and employeeCode != ''">
				and t.emp_code like '%${employeeCode}%'
			</if>
			<if test="employeeName != null and employeeName != ''">
				and t.emp_name like '%${employeeName}%'
			</if>
			<if test="orgId != null and orgId != ''">
				and t.organ_id = #{orgId}
			</if>
			<if test="status != null and status != ''">
				and t.EMP_STATUS = #{status}
			</if>
		</where>
		ORDER BY t.emp_name ASC
	</select>

	<!-- 根据员工编码查询是否已存在记录，结果为：0/1 -->
	<select id="getCountByEmployeeCode" resultType="Integer"
		parameterType="String">
		SELECT COUNT(1)
		FROM cf_employees t
		WHERE t.emp_code = #{cmployeeCode}
	</select>

	<!-- 通过查询条件获取用户列表 -->
	<select id="getPageEmployeeData" resultMap="Base_Result_Map"
		parameterType="java.util.HashMap">
		SELECT * FROM (
		SELECT ROWNUM rn,
		t.emp_code,
		t.emp_name,
		t.orgid,
		o.org_name,
		t.status,
		t.sex,
		t.parentid,
		t.mobilephone,
		t.mail,
		t.create_by,
		t.create_time,
		t.last_modify_by,
		t.last_modify_time,
		t.position
		FROM cf_employees t, cf_org o
		WHERE t.orgid = o.id
			<![CDATA[ 
			 and rownum <= #{end} 
			]]>
		<if
			test="employee != null and employee.employeeCode != null and employee.employeeCode != ''">
			and t.emp_code like '%${employee.employeeCode}%'
			</if>
		<if
			test="employee != null and employee.employeeName != null and employee.employeeName != ''">
			and t.emp_name like '%${employee.employeeName}%'
			</if>
		<if
			test="employee != null and employee.orgId != null and employee.orgId != ''">
			and t.orgid = #{employee.orgId}
			</if>
		<if
			test="employee != null and employee.status != null and employee.status != ''">
			and t.status = #{employee.status}
			</if>
		ORDER BY t.emp_name ASC
		) 
		<![CDATA[ 
		where rn > #{begin}
		]]>
	</select>
	<select id="getPageEmployeeSize" resultType="java.lang.Integer"
		parameterType="java.util.HashMap">
		SELECT COUNT(1)
		FROM cf_employees t, cf_org o
		WHERE t.orgid = o.id
		<if
			test="employee != null and employee.employeeCode != null and employee.employeeCode != ''">
			and t.emp_code like '%${employee.employeeCode}%'
		</if>
		<if
			test="employee != null and employee.employeeName != null and employee.employeeName != ''">
			and t.emp_name like '%${employee.employeeName}%'
		</if>
		<if
			test="employee != null and employee.orgId != null and employee.orgId != ''">
			and t.orgid = #{employee.orgId}
		</if>
		<if
			test="employee != null and employee.status != null and employee.status != ''">
			and t.status = #{employee.status}
		</if>
	</select>

	<!-- 员工记录新增 -->
	<insert id="insertEmployee" parameterType="Employee">
		INSERT INTO
		cf_employees t
		(t.emp_code,
		t.emp_name,
		t.orgid,
		t.status,
		t.sex,
		t.parentid,
		t.mobilephone,
		t.mail,
		t.create_by,
		t.create_time,
		t.last_modify_by,
		t.last_modify_time,
		position)
		VALUES (
		#{employeeCode},
		#{employeeName},
		#{orgId},
		#{status},
		#{sex},
		#{parentId},
		#{mobilePhone},
		#{email},
		#{createBy},
		SYSDATE,
		#{lastModifyBy},
		SYSDATE,
		#{position}
		)
	</insert>

	<!-- 员工记录修改 -->
	<update id="updateEmployee" parameterType="Employee">
		UPDATE cf_employees t
		<set>
			<if test="employeeName != null">t.emp_name = #{employeeName},</if>
			<if test="orgId != null">t.orgid = #{orgId},</if>
			<if test="status != null">t.status = #{status},</if>
			<if test="sex != null">t.sex = #{sex},</if>
			<if test="parentId != null">t.parentid = #{parentId},</if>
			<if test="mobilePhone != null">t.mobilephone = #{mobilePhone},</if>
			<if test="email != null">t.mail = #{email},</if>
			<if test="lastModifyBy != null">t.last_modify_by = #{lastModifyBy},</if>
			t.last_modify_time = SYSDATE,
			<if test="position != null">t.position = #{position}</if>
		</set>
		WHERE t.emp_code = #{employeeCode}
	</update>

	<!-- 更新员工状态（删除、停用、启用等等) -->
	<update id="updateEmployeeStatus" parameterType="Employee">
		UPDATE
		cf_employees t
		SET t.status = #{status}
		WHERE t.emp_code = #{employeeCode}
	</update>
	<!--
		根据当前选中的汇金库角色查询汇金库所有人员编号和名称、职务、地区、公司、门店
		【地区：length(org_code)='8'】【公司：length(org_code)='10'】【门店：length(org_code)='12'】
		【团队：length(org_code)='14'】【业务部：length(org_code)='6'】【管理部：length(org_code)='4'】
	-->
	<select id="getEmployeeList" resultType="java.util.HashMap"
		parameterType="map">
		select * from (
		select rownum rn,e.emp_code,e.org_id,
		e.emp_name,
		p.id postid,
		p.postname,
		(select t.org_name from jk_org_new@tositjk t where length(org_code)='8' CONNECT
		BY PRIOR t.parent_id = t.id START WITH t.id= e.org_id) org_store,
		(select t.org_name from jk_org_new@tositjk t where length(org_code)='12'
		CONNECT BY PRIOR t.parent_id = t.id START WITH t.id= e.org_id)
		org_name,
		(select t.org_name from jk_org_new@tositjk t where length(org_code)='10' CONNECT
		BY PRIOR t.parent_id = t.id START WITH t.id= e.org_id) org_company
		from JK_EMPLOYEE@tositjk e,jk_post@tositjk p
		where e.post_id = p.id
		and e.post_id = #{postid}
		and e.org_id in
		
		(select t.id
		from jk_org_new@tositjk t
		<if test="code == 'qyzj' or code == 'qyjgfzj'">
			where length(org_code) = '10' or length(org_code) = '8' 
		</if>
		CONNECT BY PRIOR t.id = t.parent_id
		START WITH t.id = #{orgid})

		<if test="postids.size() > 0">
			<if test="pfqk == 0 or pfqk == null or pfqk == ''">
				and e.emp_code not in
				<foreach collection="postids" index="index" item="postids"
					open="(" separator="," close=")">
					#{postids}
      	</foreach>
			</if>

			<if test="pfqk == 1">
				and e.emp_code in
				<foreach collection="postids" index="index" item="postids"
					open="(" separator="," close=")">
					#{postids}
      	</foreach>
			</if>
		</if>
      <![CDATA[ 
	 and rownum <= #{end} 
	 ]]>
		)
	 <![CDATA[ 
		where rn > #{begin}
		]]>

	</select>

	<select id="getEmployeeSize" resultType="Integer" parameterType="map">
		SELECT COUNT(1)
		from JK_EMPLOYEE@tositjk e,jk_post@tositjk p
		where e.post_id = p.id
		and e.post_id = #{postid}
		and e.org_id in
		(select t.id
		from jk_org_new@tositjk t
		<if test="code == 'qyzj' or code == 'qyjgfzj'">
			where length(org_code) = '10' or length(org_code) = '8' 
		</if>
		CONNECT BY PRIOR t.id = t.parent_id
		START WITH t.id = #{orgid})
		<if test="postids.size() > 0">
			<if test="pfqk == 0 or pfqk == null or pfqk == ''">
				and e.emp_code not in
				<foreach collection="postids" index="index" item="postids"
					open="(" separator="," close=")">
					#{postids}
      </foreach>
			</if>

			<if test="pfqk == 1">
				and e.emp_code in
				<foreach collection="postids" index="index" item="postids"
					open="(" separator="," close=")">
					#{postids}
      </foreach>
			</if>
		</if>

	</select>
	<select id="getHjEmployee" resultMap="Base_Result_Map" parameterType="map">
		select post_id from jk_employee@tositjk where emp_code = #{empCode}
	</select>
	<select id="getPrivilege" resultMap="Base_Result_Map" parameterType="map">
		select * from jk_employee@tositjk where post_id in (select id from jk_post@tositjk where postname like '绩效%') and emp_code = #{empCode}
	</select>
	
	
	<select id="getEmpCodes" resultMap="Base_Result_Map" parameterType="map">
		select t.emp_code from jk_employee@tositjk t where t.org_id  in  
		(select j.id from jk_org_new@tositjk j  connect by prior j.id=j.parent_id start with j.id = #{orgId})
		 and t.post_id in 
		 <foreach collection="postids" index="index" item="postids"
					open="(" separator="," close=")">
					#{postids}
      	</foreach>
	</select>
	
</mapper>

















