<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.LogDao">
	
	<!-- 保存日志 -->
   	<insert id="saveLog" parameterType="java.util.Map">  
	    INSERT INTO jx_login_log 
	    	(LOG_ID, LOGTYPE, LOGUSERNAME ,LOGDATE ,LOGINFO ,LOGUSERLOGIN ,LOGIP ,LOGMODUL,LOG_SOURCE)        
	    VALUES  
	        (nextval('task_seq'), #{logtype}, #{logusername} ,date_trunc('second',clock_timestamp()) ,#{loginfo} ,
	        #{loguserlogin} ,#{logip} ,#{logmodul},#{logSource})  
	</insert>
	
	<!-- 查询日志 -->
	<select id="getLogList" parameterType="java.util.HashMap" resultType="Log">
	
			select z.* from (
				select * from jx_login_log c 
				where 1=1
			<if test="log.logip != null and log.logip != '' ">
				and c.logip like '%${log.logip}%'
			</if>
			<if test="log.logusername != null and log.logusername != '' ">
				and c.logusername = #{log.logusername}
			</if>
			<if test="log.logdate != null and log.logdate != '' ">
				and c.logdate >= #{log.logdate}
			</if>
			
			<if test="log.lastlogdate != null and log.lastlogdate != '' ">
				and c.logdate &lt;= #{log.lastlogdate}
			</if>
			<if test="log.loguserlogin != null and log.loguserlogin != '' ">
				and c.loguserlogin = #{log.loguserlogin}
			</if>
			<if test="log.logtype != null and log.logtype != '' ">
				and c.logtype = #{log.logtype}
			</if>
			order by logdate desc,log_id desc
			)z  LIMIT #{nowNum} OFFSET #{begin}
		
	</select>
	
	<!-- 查询日志条数 -->
	<select id="getLogSize" parameterType="java.util.HashMap" resultType="java.lang.Integer">
		select count(*) from (
			select * from jx_login_log c
			where 1=1
			<if test="log.logip != null and log.logip != '' ">
				and c.logip like '%${log.logip}%'
			</if>
			<if test="log.logusername != null and log.logusername != '' ">
				and c.logusername = #{log.logusername}
			</if>
			<if test="log.logdate != null and log.logdate != '' ">
				and c.logdate >= #{log.logdate}
			</if>
			<if test="log.lastlogdate != null and log.lastlogdate != '' ">
				and c.logdate &lt;= #{log.lastlogdate}
			</if>
			<if test="log.loguserlogin != null and log.loguserlogin != '' ">
				and c.loguserlogin = #{log.loguserlogin}
			</if>
			<if test="log.logtype != null and log.logtype != '' ">
				and c.logtype = #{log.logtype}
			</if>
		) ky
	</select>

</mapper>

















