<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.OrgDao">
<resultMap type="cn.taskSys.entity.Org" id="Base_Result_Map">
		<result column="ORGAN_ID" property="organId"/>
		<result column="ORGAN_NAME" property="organName"/>
		<result column="ORGAN_TYPE" property="organType"/>
		<result column="ORGAN_CITY" property="organCity"/>
		<result column="ORGAN_CODE" property="organCode"/>
		<result column="PARENT_ID" property="parentid"/>
		<result column="ORGAN_STATUS" property="organStatus"/>
		<result column="ORGAN_SOURCE" property="organSource"/>
		<result column="ORGA_LEVEL" property="organLevel"/>
		<result column="STRU_ORDER" property="struOrder"/>
		<result column="SHORT_NAME" property="shortName"/>
		<result column="ADDRESS" property="address"/>
		<result column="OFFICE_PHONE" property="officePhone"/>
		<result column="CROP_DUTY_MAN" property="cropDutyMan"/>
		<result column="DEP_DUTY_MAN" property="depDutyMan"/>
		<result column="LINKMAN" property="linkMan"/>
		<result column="LINKPHONE" property="linkPhone"/>
		<result column="FAX" property="fax"/>
		<result column="BEGIN_DATE" property="beginDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="CREATE_DATE" property="createTime"/>
		<result column="CREATE_USER_ID" property="createBy"/>
		<result column="UPDATE_DATE" property="createTime"/>
		<result column="UPDATE_USER_ID" property="lastModifyBy"/>
</resultMap>
	<!-- 取得单位列表 -->
	<select id="getOrgTree"   resultMap="Base_Result_Map"  resultType="Org" >
		select organ_id,parent_id,organ_name From jx_organ
	</select>

	<!-- 取得单位信息 -->
	<select id="getOrgInfo"  resultMap="Base_Result_Map"  resultType="Org" parameterType="String">
		select
		a.organ_id,a.organ_name,a.organ_type,a.organ_city,a.organ_code,a.parent_id,a.organ_status,
		a.organ_source,a.orga_level,a.stru_order,a.short_name,a.address,a.office_phone,a.crop_duty_man,
		a.dep_duty_man,a.linkman,a.linkphone,a.fax,a.begin_date,
		a.end_date,to_char(a.create_date,'YYYY-MM-DD hh24:mi:ss') create_date,
		a.create_user_id,to_char(a.update_date,'YYYY-MM-DD hh24:mi:ss') update_date,a.update_user_id
		from jx_organ a
		where
		a.organ_id=#{organId}
	</select>

	<select id="getUserTypeByOrgId" parameterType="java.lang.Long"
		resultType="java.lang.String">

		select o.organ_type from jx_organ o where o.organ_id=#{organId}
	</select>
</mapper>

















