<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.PersonAttenceDao">
	<resultMap type="cn.taskSys.entity.PersonAttence" id="Base_Result_Map">
		<result column="p_id" property="pId" />
		<result column="p_emp_code" property="pEmpCode" />
		<result column="p_dpt_code" property="pDepCode" />
		<result column="p_attence_day" property="pAttenceDay"/>
		<result column="p_attence_time" property="pAttenceTime"/>
		<result column="p_attence_without_pay" property="pAttenceWithoutPay"/>
		<result column="p_attence_unpunctual_time" property="pAttenceUnpunctualTime"/>
		<result column="p_attence_change_day" property="pAttenceChangeDay"/>
		<result column="p_attence_month" property="pAttenceMonth"/>
		<result column="p_add_date" property="pAddDate"/>
		<result column="p_username" property="pUsername"/>
		<result column="p_remark" property="pRemark"/>
		<result column="p_attence_meal_pay" property="pMealPay"/>
		<result column="p_attence_traffic_pay" property="pTrafficPay"/>

	</resultMap>
	<!-- 个人中心列表数据 -->
	<select id="personAttenceList" resultType="cn.taskSys.entity.PersonAttence" parameterType="cn.taskSys.entity.PersonAttence">
		select z.* from (
			select pa.p_id pId,pa.p_emp_code pEmpCode,pa.p_attence_day pAttenceDay,pa.p_attence_time pAttenceTime,
			pa.p_attence_without_pay pAttenceWithoutPay,pa.p_attence_unpunctual_time pAttenceUnpunctualTime,
			pa.p_attence_change_day pAttenceChangeDay,pa.p_username pUsername,pa.p_attence_month pAttenceMonth,
			pa.p_attence_meal_pay pMealPay,pa.p_attence_traffic_pay pTrafficPay,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE u.department_id=p.code and p.type_code='01') departmentName
			FROM jx_person_attence pa,jx_users u WHERE pa.p_emp_code=u.login_name
			<if test="pUsername != null and pUsername != '' ">
				and pa.p_username like '%${pUsername}%'
			</if>
			<if test="pEmpCode != null and pEmpCode != '' ">
				and pa.p_emp_code=#{pEmpCode}
			</if>
			<if test="pAttenceMonth != null and pAttenceMonth != '' ">
				and pa.p_attence_month=#{pAttenceMonth}
			</if>
			<if test="pDepCode != null and pDepCode != '' ">
				and u.department_id=#{pDepCode}
			</if>
			<choose>
				<when test="orderByPro != null and orderByPro != '' and orderByPro == 'pAttenceDay'  ">
					order by cast(p_attence_day AS DOUBLE precision) desc
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro == 'pAttenceTime'  ">
					order by cast(p_attence_time AS DOUBLE precision) desc
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro == 'pAttenceWithoutPay'  ">
					order by cast(p_attence_without_pay AS DOUBLE precision) desc
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro == 'pMealPay'  ">
					order by cast(p_attence_meal_pay AS DOUBLE precision) desc
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro == 'pTrafficPay'  ">
					order by cast(p_attence_traffic_pay AS DOUBLE precision) desc
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro == 'pAttenceUnpunctualTime'  ">
					order by cast(p_attence_unpunctual_time AS DOUBLE precision) desc
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro == 'pAttenceChangeDay'  ">
					order by cast(p_attence_change_day AS DOUBLE precision) desc
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro == 'pEmpCode'  ">
					order by p_emp_code
				</when>
				<when test="orderByPro != null and orderByPro != '' and orderByPro == 'departmentName'  ">
					order by cast(p_dpt_code AS int) desc
				</when>
				<otherwise>order by pa.p_emp_code desc</otherwise>
			</choose>
			
		)z  LIMIT 			 
			 <![CDATA[ #{maxResult} OFFSET ( #{page} - 1)*#{maxResult}   ]]>
	</select>
	
	<!-- 个人中心列表条数 -->
	<select id="personAttenceCount" parameterType="cn.taskSys.entity.PersonAttence" resultType="java.lang.Integer">
		select count(*) from (	
			select pa.p_id pId,pa.p_emp_code pEmpCode,pa.p_attence_day pAttenceDay,pa.p_attence_time pAttenceTime,
			pa.p_attence_without_pay pAttenceWithoutPay,pa.p_attence_unpunctual_time pAttenceUnpunctualTime,
			pa.p_attence_change_day pAttenceChangeDay,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE u.department_id=p.code and p.type_code='01') departmentName
			FROM jx_person_attence pa,jx_users u WHERE pa.p_emp_code=u.login_name
			<if test="pUsername != null and pUsername != '' ">
				and pa.p_username like '%${pUsername}%'
			</if>
			<if test="pEmpCode != null and pEmpCode != '' ">
				and pa.p_emp_code=#{pEmpCode}
			</if>
			<if test="pAttenceMonth != null and pAttenceMonth != '' ">
				and pa.p_attence_month=#{pAttenceMonth}
			</if>
			<if test="pDepCode != null and pDepCode != '' ">
				and u.department_id=#{pDepCode}
			</if>
		)k
	</select>
	
	
	<select id="getPersonAttence" resultMap="Base_Result_Map"  parameterType="Map">
		select * from jx_person_attence where 1=1
		<if test="nowDate != null and nowDate !='' ">and	 p_attence_month like '${nowDate}%'</if>
		<if test="pEmpCode != null and pEmpCode !='' ">and p_emp_code = #{pEmpCode}</if>
	</select>
	
	<insert id="savePersonAttence" parameterType="java.util.Map">
		insert into jx_person_attence(p_id,p_emp_code,p_dpt_code,p_attence_day,p_attence_time,p_attence_without_pay,p_attence_unpunctual_time,p_attence_change_day,p_username,p_attence_month,p_add_date,p_remark,p_attence_meal_pay,p_attence_traffic_pay)
		values(#{pId},#{pEmpCode},#{pDepCode},#{pAttenceDay},#{pAttenceTime},#{pAttenceWithoutPay},#{pAttenceUnpunctualTime},#{pAttenceChangeDay},#{pUsername},#{pAttenceMonth},#{pAddDate},#{pRemark},#{pMealPay},#{pTrafficPay})
	</insert>
	
	<update id="updatePersonAttence" parameterType="Map">
		update jx_person_attence set
			<if test="pAttenceDay !=null"> p_attence_day = #{pAttenceDay},</if>
			<if test="pAttenceTime !=null">p_attence_time = #{pAttenceTime},</if>
			<if test="pAttenceWithoutPay !=null">p_attence_without_pay = #{pAttenceWithoutPay},</if>
			<if test="pAttenceChangeDay !=null">p_attence_change_day = #{pAttenceChangeDay},</if>
			<if test="pAttenceUnpunctualTime !=null">p_attence_unpunctual_time = #{pAttenceUnpunctualTime},</if>
			<if test="pAttenceMonth !=null">p_attence_month = #{pAttenceMonth},</if>
			<if test="pAddDate !=null"> p_add_date = #{pAddDate},</if>
			<if test="pDepCode !=null"> p_dpt_code = #{pDepCode},</if>
			<if test="pMealPay !=null">p_attence_meal_pay = #{pMealPay},</if>
			<if test="pTrafficPay !=null">p_attence_traffic_pay = #{pTrafficPay},</if>
			<if test="pRemark !=null"> p_remark = #{pRemark} </if>
			where p_emp_code = #{pEmpCode} and p_attence_month like '${pAttenceMonth}%'
		
	</update>
	
	<update id="updatePersonAttenceRemark" parameterType="Map">
		update jx_person_attence set
			<if test="pAttenceDay !=null"> p_attence_day = #{pAttenceDay},</if>
			<if test="pAttenceTime !=null">p_attence_time = #{pAttenceTime},</if>
			<if test="pAttenceWithoutPay !=null">p_attence_without_pay = #{pAttenceWithoutPay},</if>
			<if test="pAttenceChangeDay !=null">p_attence_change_day = #{pAttenceChangeDay},</if>
			<if test="pAttenceUnpunctualTime !=null">p_attence_unpunctual_time = #{pAttenceUnpunctualTime},</if>
			<if test="pAttenceMonth !=null">p_attence_month = #{pAttenceMonth},</if>
			<if test="pAddDate !=null">p_add_date = #{pAddDate}</if>
			where p_emp_code = #{pEmpCode} and p_attence_month like '${pAttenceMonth}%'
		
	</update>

		<!-- 个人中心列表数据导出 -->
	<select id="exportPersonAttenceList" resultType="cn.taskSys.entity.PersonAttence" parameterType="cn.taskSys.entity.PersonAttence">
			select pa.p_id pId,pa.p_emp_code pEmpCode,pa.p_attence_day pAttenceDay,pa.p_attence_time pAttenceTime,
			pa.p_attence_without_pay pAttenceWithoutPay,pa.p_attence_unpunctual_time pAttenceUnpunctualTime,
			pa.p_attence_change_day pAttenceChangeDay,pa.p_username pUsername,pa.p_attence_month pAttenceMonth,
			pa.p_attence_meal_pay pMealPay,pa.p_attence_traffic_pay pTrafficPay,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE u.department_id=p.code and p.type_code='01') departmentName
			FROM jx_person_attence pa, jx_users u where pa.p_emp_code=u.login_name
			<if test="pUsername != null and pUsername != '' ">
				and pa.p_username like '%${pUsername}%'
			</if>
			<if test="pEmpCode != null and pEmpCode != '' ">
				and pa.p_emp_code=#{pEmpCode}
			</if>
			<if test="pAttenceMonth != null and pAttenceMonth != '' ">
				and pa.p_attence_month=#{pAttenceMonth}
			</if>
			<if test="pDepCode != null and pDepCode != '' ">
				and u.department_id=#{pDepCode}
			</if>
			order by u.department_id ,pa.p_emp_code
	</select>
</mapper>





