<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.ProjectInfoDao">
	<resultMap type="cn.taskSys.entity.ProjectInfo" id="Base_Result_Map">
		<result column="pro_id" property="id" />
		<result column="pro_code" property="code" />
		<result column="pro_name" property="proName"  />
		<result column="pro_type" property="proType"  />
		<result column="pro_category" property="category" />
		<result column="pro_department" property="department" />
		<result column="pro_bm_manager" property="bmManager" />
		<result column="pro_xm_manager" property="xmManager"  />
		<result column="pro_pmo" property="pmo" />
		<result column="pro_stage" property="stage" />
		<result column="pro_approval_time" property="approvalTime" />
		<result column="pro_expect_online_time" property="expectOnlineTime"  />
		<result column="pro_schedule" property="schedule"  />
		<result column="pro_develop_type" property="developType" />
		<result column="pro_requirement_control" property="requirementControl" />
		<result column="pro_risk_condition" property="riskCondition" />
		<result column="pro_remark" property="remark" />
		<result column="is_delete" property="isDelete" />
		<result column="add_time" property="addTime" />
		<result column="is_distribution" property="isDistribution" />
	</resultMap>
	
	<insert id="saveProjectInfo">
		INSERT INTO jx_project_info
	    	( pro_id,
			  pro_code,
			  pro_name,
			  pro_type,
			  pro_category,
			  pro_department,
			  pro_bm_manager,
			  pro_xm_manager,
			  pro_pmo,
			  pro_stage,
			  pro_approval_time,
			  pro_expect_online_time,
			  pro_schedule,
			  pro_develop_type,
			  pro_requirement_control,
			  pro_risk_condition,
			  pro_remark,   
			  is_delete,        
			  add_time,
			  is_distribution)        
	    VALUES 
	    <foreach item="projectInfo" collection="list" index="index" separator=",">
			(#{projectInfo.id},
			#{projectInfo.code},
			#{projectInfo.proName},
			#{projectInfo.proType},
			#{projectInfo.category},
			#{projectInfo.department},
			#{projectInfo.bmManager},
			#{projectInfo.xmManager},
			#{projectInfo.pmo},
			#{projectInfo.stage},
			#{projectInfo.approvalTime},
			#{projectInfo.expectOnlineTime},
			#{projectInfo.schedule},
			#{projectInfo.developType},
			#{projectInfo.requirementControl},
			#{projectInfo.riskCondition},
			#{projectInfo.remark},
			#{projectInfo.isDelete},
			#{projectInfo.addTime},
			#{projectInfo.isDistribution})
		</foreach>
	</insert>
	<select id="getProjectInfoList" parameterType="cn.taskSys.entity.ProjectInfo" resultType="cn.taskSys.entity.ProjectInfo">
		select z.* from (
		    select a.pro_id id, 
				a.pro_code code, 
				a.pro_name proName, 
				a.pro_type proType, 
				a.pro_category category, 
				a.pro_department department, 
				a.pro_bm_manager bmManager, 
				a.pro_xm_manager xmManager, 
				a.pro_pmo pmo, 
				a.pro_stage stage, 
				a.pro_approval_time approvalTime, 
				a.pro_expect_online_time expectOnlineTime, 
				a.pro_schedule schedule, 
				a.pro_develop_type developType,
				a.pro_requirement_control requirementControl,
				a.pro_risk_condition riskCondition,
				a.pro_remark remark,
				a.add_time addTime,
				a.is_distribution isDistribution,
				(select u.user_name from jx_users u where u.login_name=a.pro_pmo) pmoName,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_department=p.code and p.type_code='01') departmentName,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_type=p.code and p.type_code='13') proTypeZH,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_category=p.code and p.type_code='14') categoryZH,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_develop_type=p.code and p.type_code='15') developTypeZH,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_stage=p.code and p.type_code='12') stageZH
			FROM jx_project_info a
			where 1=1 and a.is_delete in ('0','3')
			<if test="code != null and code != '' ">
				and a.pro_code like '%${code}%'
			</if>
			<if test="proName != null and proName != '' ">
				and a.pro_name like '%${proName}%'
			</if>
			<if test="proType != null and proType != '' ">
				and a.pro_type=#{proType}
			</if>
			<if test="department != null and department != '' ">
				and a.pro_department=#{department}
			</if>
			<if test="pmo != null and pmo != '' ">
				and a.pro_pmo like '%${pmo}%'
			</if>
			order by a.pro_code,a.pro_department
		)z  LIMIT 			 
			 <![CDATA[ #{maxResult} OFFSET ( #{page} - 1)*#{maxResult}   ]]>
	</select>
	<select id="getProjectInfoListCount" parameterType="cn.taskSys.entity.ProjectInfo" resultType="java.lang.Integer">
		select count(*) from (
		    select a.pro_id id, 
				a.pro_code code, 
				a.pro_name proName, 
				a.pro_type proType, 
				a.pro_category category, 
				a.pro_department department, 
				a.pro_bm_manager bmManager, 
				a.pro_xm_manager xmManager, 
				a.pro_pmo pmo, 
				a.pro_stage stage, 
				a.pro_approval_time approvalTime, 
				a.pro_expect_online_time expectOnlineTime, 
				a.pro_schedule schedule, 
				a.pro_develop_type developType,
				a.pro_requirement_control requirementControl,
				a.pro_risk_condition riskCondition,
				a.pro_remark remark,
				a.add_time addTime,
				a.is_distribution isDistribution,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_department=p.code and p.type_code='01') departmentName
			FROM jx_project_info a
			where 1=1 and a.is_delete in ('0','3')
			<if test="code != null and code != '' ">
				and a.pro_code like '%${code}%'
			</if>
			<if test="proName != null and proName != '' ">
				and a.pro_name like '%${proName}%'
			</if>
			<if test="proType != null and proType != '' ">
				and a.pro_type=#{proType}
			</if>
			<if test="department != null and department != '' ">
				and a.pro_department=#{department}
			</if>
			<if test="pmo != null and pmo != '' ">
				and a.pro_pmo=#{pmo}
			</if>
		)k
	</select>
	
	<select id="getProjectName" parameterType="java.util.Map" resultMap="Base_Result_Map">
		select * from jx_project_info where 1=1 and is_delete in ('0','3') and pro_name like '%${proName}%'
	</select>
	
	<select id="getPMOList" parameterType="cn.taskSys.entity.User" resultType="cn.taskSys.entity.User">
		select u.user_id userId,u.login_name loginName,u.user_name userName 
		from jx_users u,jx_user_role ur,jx_roles r 
		where u.user_id=ur.userid and ur.roleid=r.id and r.role_code='PMO001'
	</select>
	
	<select id="findProjectInfos" parameterType="cn.taskSys.entity.ProjectInfo" resultType="java.util.Map">
		select a.pro_id id, a.pro_code code, a.pro_name proName, a.is_distribution isDistribution FROM jx_project_info a where 1=1 and a.is_delete in ('0','3')
		<if test="code != null and code != '' ">
			and a.pro_code like '%${code}%'
		</if>
		<if test="proName != null and proName != '' ">
			and a.pro_name like '%${proName}%'
		</if>
	</select>
	
	<select id="allProjectInfos" parameterType="cn.taskSys.entity.ProjectInfo" resultType="cn.taskSys.entity.ProjectInfo">
		select a.pro_id id, 
			a.pro_code code, 
			a.pro_name proName, 
			a.pro_type proType, 
			a.pro_category category, 
			a.pro_department department, 
			a.pro_bm_manager bmManager, 
			a.pro_xm_manager xmManager, 
			a.pro_pmo pmo, 
			a.pro_stage stage, 
			a.pro_approval_time approvalTime, 
			a.pro_expect_online_time expectOnlineTime, 
			a.pro_schedule schedule, 
			a.pro_develop_type developType,
			a.pro_requirement_control requirementControl,
			a.pro_risk_condition riskCondition,
			a.add_time addTime,
			a.is_distribution isDistribution,
			a.pro_remark remark
		FROM jx_project_info a where a.is_delete in ('0','3')
	</select>
	
	<select id="findProjectInfoByPro" parameterType="cn.taskSys.entity.ProjectInfo" resultType="cn.taskSys.entity.ProjectInfo">
		select a.pro_id id, 
			a.pro_code code, 
			a.pro_name proName, 
			a.pro_type proType, 
			a.pro_category category, 
			a.pro_department department, 
			a.pro_bm_manager bmManager, 
			a.pro_xm_manager xmManager, 
			a.pro_pmo pmo, 
			a.pro_stage stage, 
			a.pro_approval_time approvalTime, 
			a.pro_expect_online_time expectOnlineTime, 
			a.pro_schedule schedule, 
			a.pro_develop_type developType,
			a.pro_requirement_control requirementControl,
			a.pro_risk_condition riskCondition,
			a.pro_remark remark,
			a.add_time addTime,
			a.is_distribution isDistribution,
			(select u.user_name from jx_users u where u.login_name=a.pro_pmo) pmoName,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_department=p.code and p.type_code='01') departmentName,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_type=p.code and p.type_code='13') proTypeZH,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_category=p.code and p.type_code='14') categoryZH,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_develop_type=p.code and p.type_code='15') developTypeZH,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE a.pro_stage=p.code and p.type_code='12') stageZH
		FROM jx_project_info a where 1=1 and a.is_delete in ('0','3')
		<if test="id != null and id != '' ">
			and a.pro_id = #{id}
		</if>
		<if test="code != null and code != '' ">
			and a.pro_code like '%${code}%'
		</if>
		<if test="proName != null and proName != '' ">
			and a.pro_name like '%${proName}%'
		</if>
	</select>
	
	<update id="modifyProjectInfoByPro" parameterType="cn.taskSys.entity.ProjectInfo">
		update jx_project_info set pro_id=#{id}
		<if test="code != null and code != '' ">
			, pro_code = #{code}
		</if>
		<if test="proName != null and proName != '' ">
			, pro_name = #{proName}
		</if>
		<if test="proType != null and proType != '' ">
			, pro_type = #{proType}
		</if>
		<if test="category != null and category != '' ">
			, pro_category = #{category}
		</if>
		<if test="department != null and department != '' ">
			, pro_department = #{department}
		</if>
		<if test="bmManager != null and bmManager != '' ">
			, pro_bm_manager = #{bmManager}
		</if>
		<if test="xmManager != null and xmManager != '' ">
			, pro_xm_manager = #{xmManager}
		</if>
		<if test="pmo != null and pmo != '' ">
			, pro_pmo = #{pmo}
		</if>
		<if test="stage != null and stage != '' ">
			, pro_stage = #{stage}
		</if>
		<if test="approvalTime != null and approvalTime != '' ">
			, pro_approval_time = #{approvalTime}
		</if>
		<if test="expectOnlineTime != null and expectOnlineTime != '' ">
			, pro_expect_online_time = #{expectOnlineTime}
		</if>
		<if test="schedule != null and schedule != '' ">
			, pro_schedule = #{schedule}
		</if> 
		<if test="developType != null and developType != '' ">
			, pro_develop_type = #{developType}
		</if>
		<if test="requirementControl != null and requirementControl != '' ">
			, pro_requirement_control = #{requirementControl}
		</if>
		<if test="riskCondition != null and riskCondition != '' ">
			, pro_risk_condition = #{riskCondition}
		</if>
		<if test="remark != null and remark != '' ">
			, pro_remark = #{remark}
		</if>
		<if test="isDistribution != null and isDistribution != '' ">
			, is_distribution = #{isDistribution}
		</if>
		where pro_id=#{id}
	</update>
	
	<delete id="delProjectInfoById" parameterType="java.lang.String">
		delete from jx_project_info where pro_id = #{_parameter}
	</delete>
	
	<select id="getXmManagerList" parameterType="cn.taskSys.entity.User" resultType="java.util.Map">
		select u.user_id,u.login_name,u.user_name 
		from jx_users u,jx_user_role ur,jx_roles r 
		where u.user_id=ur.userid and ur.roleid=r.id and r.role_code in ('BMJL','XMJL','TDJL') 
		<if test="department_id != null and department_id != '' ">
			and u.department_id = #{department_id}
		</if>
	</select>
	
	<update id="updateProjectInfo">
		update jx_project_info set is_delete='1' where is_delete='0'
	</update>
	
	<select id="getProjectInfoListByPro" parameterType="cn.taskSys.entity.ProjectInfo" resultType="cn.taskSys.entity.ProjectInfo">
		select a.pro_id id, 
			a.pro_code code, 
			a.pro_name proName, 
			a.pro_type proType, 
			a.pro_category category, 
			a.pro_department department, 
			a.pro_bm_manager bmManager, 
			a.pro_xm_manager xmManager, 
			a.pro_pmo pmo, 
			a.pro_stage stage, 
			a.pro_approval_time approvalTime, 
			a.pro_expect_online_time expectOnlineTime, 
			a.pro_schedule schedule, 
			a.pro_develop_type developType,
			a.pro_requirement_control requirementControl,
			a.pro_risk_condition riskCondition,
			a.pro_remark remark,
			a.add_time addTime,
			a.is_distribution isDistribution
		FROM jx_project_info a
		where 1=1 and a.is_delete in ('0','3')
		<if test="code != null and code != '' ">
			and a.pro_code like '%${code}%'
		</if>
		<if test="proName != null and proName != '' ">
			and a.pro_name like '%${proName}%'
		</if>
		<if test="proType != null and proType != '' ">
			and a.pro_type=#{proType}
		</if>
		<if test="department != null and department != '' ">
			and a.pro_department=#{department}
		</if>
		<if test="pmo != null and pmo != '' ">
			and a.pro_pmo like '%${pmo}%'
		</if>
		order by a.pro_code,a.pro_department
	</select>
    
	<select id="getProjectInfoListByDepartment" resultType="cn.taskSys.entity.ProjectInfo" parameterType="cn.taskSys.entity.ProjectInfo">
	   SELECT  DISTINCT (pro_name) proName, pro_id id,pro_department,pro_code code FROM jx_project_info 
	   WHERE 1=1 
	   <if test="department != null and department != '' ">
            and pro_department = #{department}
       </if>
	   <if test="code != null and code != '' ">
            and pro_code = #{code}
       </if>
       <if test="proName != null and proName != '' ">
            and pro_name like '%${proName}%'
       </if>
	   AND is_delete='0'
	</select>
	
	<select id="getTaskInfoListByProCode" resultType="java.util.Map" parameterType="java.util.Map">
           select z.* from ( SELECT t.id,t.taskname,t.projectcode,t.taskcontent,t.projectstage,t.taskstatus,t.projectname,t.create_name,t.exec_name,t.createtime,t.jxzdate,t.expectendtime,t.taskworktime,u.head_portrait FROM jx_taskinfo t left join jx_users u 
            on u.user_id=t.executedevtasksys where t.projectcode=#{taskinfo.projectCode} and t.projectstage =#{taskinfo.projectStage}
            )z
           LIMIT             
             <![CDATA[ 5 * #{page} OFFSET 0   ]]>
    </select>
	
</mapper>





