<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.SummaryTaskDao">
	<resultMap type="cn.taskSys.entity.User" id="Base_Result_Map">
		<result column="USER_ID" property="userId"/>
		<result column="LOGIN_NAME" property="loginName"/>
		<result column="PASSWORD" property="password"/>
		<result column="USER_NAME" property="userName"/>
		<result column="MANAGER_ID" property="managerID"/>
		<result column="USER_SOURCE1" property="userSource"/>
		<result column="JOB_ID" property="jobId"/>
		<result column="ORG_ID" property="orgId"/>
		<result column="EMP_ID" property="empCode"/>
		<result column="STATUS" property="status"/>
		<result column="LOGIN_IP" property="loginIp"/>
		<result column="USER_TYPE" property="userType"/>
		<result column="LAST_LOGIN_TIME" property="lastLoginTime"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="LAST_MODIFY_BY" property="lastModifyBy"/>
		<result column="LAST_MODIFY_TIME" property="lastModifyTime"/>
		<!-- modify by yanjiming 20141124 begin查询用户 -->
		<result column="EMP_ID" property="empCode"/>
		<result column="ORG_ID" property="orgId"/>
		<!-- modify by yanjiming 20141124 end查询用户 -->
		<result column="DEPARTMENT_ID" property="department_id"/>
		<result column="TEAM_ID" property="team_id"/>
		<result column="EMPLOYED_DATE" property="employed_date"/>
		<result column="CREATES_DATE" property="creates_date"/>
		<result column="EMAIL" property="email"/>
		<result column="post_Name" property="postName"/>
		<result column="department_Name" property="department_Name"/>
		<result column="position_Name" property="position_Name"/>
		<result column="team_Name" property="team_Name"/>
	</resultMap>
	
	<!-- 检索二级菜单名称 -->
		<select id="allKinds"  resultType="Dictionary" parameterType="java.util.HashMap">
			select code,name from jx_globe_dictionary where type_code = #{type_code}
			<if test="type_code == 01 and id != null and id != ''">
				 and code = #{id}
			</if>
			<if test="type_code == 02 and id != null and id != ''">
				and parent_id = (select id from jx_globe_dictionary where code = #{id})
			</if>
			
			
		</select>
	<!-- 按人员查询 二级菜单-->
		<select id="allEmployees" resultMap="Base_Result_Map">
			select user_id,user_name from jx_users
		</select>
		
	<!-- 按任务状态和得分区间统计饼图 -->
			<!-- 完成任务总数 -->
			<select id="totalTask" resultType="java.lang.Integer" parameterType="java.util.HashMap">
				select count(*) from jx_taskinfo where taskstatus = '8' 
					<if test="flag == 1">
						and tjtype in ('5','6','7')
					</if>
					<if test="flag == 2">
						and score in ('1','2','3','4','5','6','7','8','9','10')
					</if>
					<if test="executedevtasksys != null and executedevtasksys != ''">
						and executedevtasksys = #{executedevtasksys}
					</if>
					<if test="department_id != null and department_id != ''">
						and department = #{department_id}
					</if>
					<if test="team_id != null and team_id != ''">
						and team = #{team_id}
					</if>
					<if test="job_id != null and job_id != ''">
						and job_id = #{job_id}
					</if>
			</select>
			
			<!-- 按时完成任务条数和任务得分0到3分条数 -->
			<select id="aswcTask" resultType="Integer" parameterType="java.util.HashMap">
				select count(*) from JX_TASKINFO  where  taskstatus = '8'
					<if test="flag == 1">
						 and  tjtype = '6'
					</if>
					<if test="flag == 2">
						and score in ('3','1','2')
					</if>
					<if test="executedevtasksys != null and executedevtasksys != ''">
						and executedevtasksys = #{executedevtasksys}
					</if>
					<if test="department_id != null and department_id != ''">
						and department = #{department_id}
					</if>
					<if test="team_id != null and team_id != ''">
						and team = #{team_id}
					</if>
					<if test="job_id != null and job_id != ''">
						and job_id = #{job_id}
					</if>
			</select>
			
			<!-- 提前完成任务条数和任务得分4到7分条数 -->
			<select id="tqwcTask" resultType="Integer" parameterType="java.util.HashMap">
				select count(*) from JX_TASKINFO  where taskstatus = '8'
				 	<if test="flag == 1">
						 and  tjtype = '7'
					</if>
					<if test="flag == 2">
						and score in ('4','5','6','7')
					</if>
					<if test="executedevtasksys != null and executedevtasksys != ''">
						and executedevtasksys = #{executedevtasksys}
					</if>
					<if test="department_id != null and department_id != ''">
						and department = #{department_id}
					</if>
					<if test="team_id != null and team_id != ''">
						and team = #{team_id}
					</if>
					<if test="job_id != null and job_id != ''">
						and job_id = #{job_id}
					</if>
			</select>
			
			<!-- 延期完成任务条数和任务得分8到10分条数 -->
			<select id="ycwcTask" resultType="Integer" parameterType="java.util.HashMap">
				select count(*) from jx_taskinfo  where taskstatus = '8'
					<if test="flag == 1">
						 and  tjtype = '5'
					</if>
					<if test="flag == 2">
						and score in ('8','9','10')
					</if>
					<if test="executedevtasksys != null and executedevtasksys != ''">
						and executedevtasksys = #{executedevtasksys}
					</if>
					<if test="department_id != null and department_id != ''">
						and department = #{department_id}
					</if>
					<if test="team_id != null and team_id != ''">
						and team = #{team_id}
					</if>
					<if test="job_id != null and job_id != ''">
						and job_id = #{job_id}
					</if>
			</select> 
		
			
</mapper>





