<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.TaskQueryDao">
	<resultMap type="cn.taskSys.entity.TaskInfo" id="Base_Result_Map">
		<result column="ID" property="id" />
		<result column="ALLOCATIONUSER" property="allocationUser" />
		<result column="CREATETIME" property="createTime" />
		<result column="TASKNAME" property="taskname" />
		<result column="TASKCONTENT" property="taskContent" />
		<result column="EXPECTENDTIME" property="expectEndTime" />
		<result column="ACTUALENDTIME" property="actualEndTime" />
		<result column="EXECUTEDEVTASKSYS" property="executedevtasksys" />
		<result column="TASKSTATUS" property="taskstatus" />
		<result column="ISDEL" property="isdel" />
		<result column="REMARK" property="remark" />
		<result column="SCORE" property="score" />
		<result column="CREATE_NAME" property="create_name" />
		<result column="EXEC_NAME" property="exec_name" />
		<result column="DIRECT_SUPERVISOR" property="direct_supervisor" />
		<result column="TEAM" property="team" />
		<result column="JOB_ID" property="jobId" />
		<result column="DEPARTMENT" property="department" />
		<result column="YFPDATE" property="yfpDate" />
		<result column="JXZDATE" property="jxzDate" />
		<result column="SUBDATE" property="subDate" />
		<result column="ENDDATE" property="endDate" />	
		<result column="falred" property="falred" />	
		<result column="taskpid" property="taskpid" />	
		<result column="tjtype" property="tjtype" />
		<result column="page" property="page" />	
		<result column="maxResult" property="maxResult" />	
		<result column="con_quarter" property="conQuarter"/>
		<result column="con_year" property="conYear"/>
		<result column="t_level" property="tLevel"/>
		<result column="ids" property="ids"/>
		<result column="deliver_person" property="deliver_person"/>	
		<result column="deliver_time" property="deliver_time"/>	
		<result column="is_pass" property="is_pass"/>	
		<result column="is_deliver" property="is_deliver"/>	
		<result column="delivered" property="delivered"/>	
		<result column="deliver_taskid" property="deliver_taskid"/>
	</resultMap>
 	
  <!-- 加载机构树 -->
  <select id="loadTaskOrgTree" resultMap="Base_Result_Map" parameterType="map">
  		<!-- select id,taskcontent, id org_code,taskpid, score store_code,0 ids  from jx_taskinfo -->
  		select j.*,b.ids ids from jx_taskinfo j  left join ( SELECT  count(*) ids ,c.taskpid  FROM jx_taskinfo  c group by c.taskpid) b on  b.taskpid =j.id 
  		where 1=1 
  		<if test="conYear != null and conYear != '' ">
			 and j.con_year = #{conYear}
		</if>
		<if test="conQuarter != null and conQuarter != '' ">
			 and j.con_quarter = #{conQuarter}
		</if>
		<if test="departmentId != null and departmentId != '' ">
			 and j.department = #{departmentId}
		</if>
		<if test="teamId != null and teamId != '' ">
			 and j.team = #{teamId}
		</if>
  		 order by j.createTime desc
  </select>	
  
    <select id="getTaskInfoById"  resultMap="Base_Result_Map"  parameterType="String" >
        select * from jx_taskinfo j where j.id=#{id}
    </select> 
</mapper>