<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.TestOrgDao">
	<resultMap type="cn.taskSys.entity.TaskOrg" id="Base_Result_Map">
			<result column="ID" property="id"/>
			<result column="ORG_NAME" property="orgName"/>
			<result column="ORG_CODE" property="orgCode"/>
			<result column="PARENT_ID" property="parentId"/>
			<result column="ids" property="ids"/>
			
	</resultMap>
  <!-- 加载机构树 -->
  <select id="getOrgList"  resultMap="Base_Result_Map"  parameterType="String" >

  		select *
  from jk_org_new@tositjk  j
  left join ( SELECT  count(*) ids ,c.parent_id  FROM jk_org_new@tositjk  c group by parent_id) b on  b.parent_id =j.id
   where  j.id=#{organId} or j.parent_id=#{organId}
  </select>	
  
  <select id="getOrgListId"  resultMap="Base_Result_Map"  parameterType="String" >
select id,taskcontent org_name, id org_code,taskpid parent_id, score store_code ,1 ids from jx_taskinfo where taskpid=#{organId}
  		<!-- select j.id,j.org_name,j.org_code,j.parent_id,b.ids from jk_org_new@tositjk j  left join ( SELECT  count(*) ids ,c.parent_id  FROM jk_org_new@tositjk  c group by parent_id) b on  b.parent_id =j.id where j.parent_id=#{organId} -->
  </select>	
 	
  <!-- 加载机构树 -->
  <select id="loadTaskOrgTree" resultMap="Base_Result_Map" parameterType="map">
  		select id,taskcontent org_name, id org_code,taskpid parent_id, score store_code,0 ids  from jx_taskinfo	
  </select>	
</mapper>