<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.taskSys.dao.WorkPlanDao">
	<resultMap type="cn.taskSys.entity.WorkPlan" id="Base_Result_Map">
		<result column="id" property="id" />
		<result column="project_code"  	property="projectCode" />
		<result column="project_name"  	property="projectName" />
		<result column="department"  	property="department" />
		<result column="department_plan"  	property="departmentPlan" />
		<result column="importance"  	property="importance" />
		<result column="principal"  	property="principal" />
		<result column="verifier"  	property="verifier" />
		<result column="type"  	property="type" />
		<result column="add_time"  	property="addTime" />
		<result column="content1"  	property="content1" />
		<result column="team_member1"  	property="teamMember1" />
		<result column="complete_status1"  	property="completeStatus1" />
		<result column="content2"  	property="content2" />
		<result column="team_member2"  	property="teamMember2" />
		<result column="complete_status2"  	property="completeStatus2" />
		<result column="content3"  	property="content3" />
		<result column="team_member3"  	property="teamMember3" />
		<result column="complete_status3"  	property="completeStatus3" />
		<result column="content4"  	property="content4" />
		<result column="team_member4"  	property="teamMember4" />
		<result column="complete_status4"  	property="completeStatus4" />
		<result column="content5" 	property="content5" />
		<result column="team_member5"  	property="teamMember5" />
		<result column="complete_status5"  	property="completeStatus5" />
		<result column="user_id"  property="userId" />
		<result column="title1"  property="title1" />
		<result column="title2"  property="title2" />
		<result column="title3"  property="title3" />
		<result column="title4"  property="title4" />
		<result column="title5"  property="title5" />
		<result column="risk"  	property="risk" />
		<result column="measures" property="measures" />
		<result column="month" property="month" />
		<result column="team" property="team" />
	</resultMap>
	<sql id="select_sql">
		wp.id, 
		wp.project_code projectCode, 
		wp.project_name projectName, 
		wp.department department, 
		wp.department_plan departmentPlan, 
		wp.importance, 
		wp.principal, 
		wp.verifier, 
		wp.type, 
		wp.add_time addTime, 
		wp.content1, 
		wp.team_member1 teamMember1, 
		wp.complete_status1 completeStatus1, 
		wp.content2, 
		wp.team_member2 teamMember2, 
		wp.complete_status2 completeStatus2, 
		wp.content3, 
		wp.team_member3 teamMember3, 
		wp.complete_status3 completeStatus3, 
		wp.content4, 
		wp.team_member4 teamMember4, 
		wp.complete_status4 completeStatus4, 
		wp.content5, 
		wp.team_member5 teamMember5, 
		wp.complete_status5 completeStatus5, 
		wp.user_id userId,
		wp.title1,
		wp.title2,
		wp.title3,
		wp.title4,
		wp.title5,
		wp.risk,
		wp.measures,
		wp.month,wp.team
	</sql>
	<insert id="saveWorkPlan" parameterType="cn.taskSys.entity.WorkPlan"> 
		 INSERT INTO jx_work_plan
	    	(
	    	<if test="id != null and id != '' ">
                id,
            </if>
            <if test="projectCode != null and projectCode != '' ">
                project_code,
            </if>
            <if test="projectName != null and projectName != '' ">
                project_name,
            </if>
            <if test="department != null and department != '' ">
                department,
            </if>
            <if test="departmentPlan != null and departmentPlan != '' ">
                department_plan,
            </if>
            <if test="importance != null and importance != '' ">
                importance,
            </if>
            <if test="principal != null and principal != '' ">
                principal,
            </if>
            <if test="verifier != null and verifier != '' ">
                verifier,
            </if>
            <if test="type != null and type != '' ">
                type,
            </if>
            <if test="addTime != null and addTime != '' ">
                add_time,
            </if>
            <if test="content1 != null and content1 != '' ">
                content1,
            </if>
            <if test="teamMember1 != null and teamMember1 != '' ">
                team_member1,
            </if>
            <if test="completeStatus1 != null and completeStatus1 != '' ">
                complete_status1,
            </if>
            <if test="content2 != null and content2 != '' ">
                content2,
            </if>
            <if test="teamMember2 != null and teamMember2 != '' ">
                team_member2,
            </if>
            <if test="completeStatus2 != null and completeStatus2 != '' ">
                complete_status2,
            </if>
            <if test="content3 != null and content3 != '' ">
                content3,
            </if>
            <if test="teamMember3 != null and teamMember3 != '' ">
                team_member3,
            </if>
            <if test="completeStatus3 != null and completeStatus3 != '' ">
                complete_status3,
            </if>
            <if test="content4 != null and content4 != '' ">
                content4,
            </if>
            <if test="teamMember4 != null and teamMember4 != '' ">
                team_member4,
            </if>
            <if test="completeStatus4 != null and completeStatus4 != '' ">
                complete_status4,
            </if>
            <if test="content5 != null and content5 != '' ">
                content5,
            </if>
            <if test="teamMember5 != null and teamMember5 != '' ">
                team_member5,
            </if>
            <if test="completeStatus5 != null and completeStatus5 != '' ">
                complete_status5,
            </if>
            <if test="title1 != null and title1 != '' ">
                title1,
            </if>
            <if test="title2 != null and title2 != '' ">
                title2,
            </if>
            <if test="title3 != null and title3 != '' ">
                title3,
            </if>
            <if test="title4 != null and title4 != '' ">
                title4,
            </if>
            <if test="title5 != null and title5 != '' ">
                title5,
            </if>
            <if test="risk != null and risk != '' ">
                risk,
            </if>
            <if test="measures != null and measures != '' ">
                measures,
            </if>
            <if test="month != null and month != '' ">
                month,
            </if>
            <if test="team != null and team != '' ">
                team,
            </if>
            <if test="userId != null and userId != '' ">
                user_id
            </if>
	    	 )        
	    VALUES 
			(
			<if test="id != null and id != '' ">
                #{id},
            </if>
            <if test="projectCode != null and projectCode != '' ">
                #{projectCode},
            </if>
            <if test="projectName != null and projectName != '' ">
                #{projectName},
            </if>
            <if test="department != null and department != '' ">
                #{department},
            </if>
            <if test="departmentPlan != null and departmentPlan != '' ">
                #{departmentPlan},
            </if>
            <if test="importance != null and importance != '' ">
                #{importance},
            </if>
            <if test="principal != null and principal != '' ">
                #{principal},
            </if>
            <if test="verifier != null and verifier != '' ">
                #{verifier},
            </if>
            <if test="type != null and type != '' ">
                #{type},
            </if>
            <if test="addTime != null and addTime != '' ">
                #{addTime},
            </if>
            <if test="content1 != null and content1 != '' ">
                #{content1},
            </if>
            <if test="teamMember1 != null and teamMember1 != '' ">
                #{teamMember1},
            </if>
            <if test="completeStatus1 != null and completeStatus1 != '' ">
                #{completeStatus1},
            </if>
            <if test="content2 != null and content2 != '' ">
                #{content2},
            </if>
            <if test="teamMember2 != null and teamMember2 != '' ">
                #{teamMember2},
            </if>
            <if test="completeStatus2 != null and completeStatus2 != '' ">
                #{completeStatus2},
            </if>
            <if test="content3 != null and content3 != '' ">
                #{content3},
            </if>
            <if test="teamMember3 != null and teamMember3 != '' ">
                #{teamMember3},
            </if>
            <if test="completeStatus3 != null and completeStatus3 != '' ">
                #{completeStatus3},
            </if>
            <if test="content4 != null and content4 != '' ">
                #{content4},
            </if>
            <if test="teamMember4 != null and teamMember4 != '' ">
                #{teamMember4},
            </if>
            <if test="completeStatus4 != null and completeStatus4 != '' ">
                #{completeStatus4},
            </if>
            <if test="content5 != null and content5 != '' ">
                #{content5},
            </if>
            <if test="teamMember5 != null and teamMember5 != '' ">
                #{teamMember5},
            </if>
            <if test="completeStatus5 != null and completeStatus5 != '' ">
                #{completeStatus5},
            </if>
            <if test="title1 != null and title1 != '' ">
                #{title1},
            </if>
            <if test="title2 != null and title2 != '' ">
                #{title2},
            </if>
            <if test="title3 != null and title3 != '' ">
                #{title3},
            </if>
            <if test="title4 != null and title4 != '' ">
                #{title4},
            </if>
            <if test="title5 != null and title5 != '' ">
                #{title5},
            </if>
            <if test="risk != null and risk != '' ">
                #{risk},
            </if>
            <if test="measures != null and measures != '' ">
                #{measures},
            </if>
            <if test="month != null and month != '' ">
                #{month},
            </if>
            <if test="team != null and team != '' ">
                #{team},
            </if>
            #{userId}
			)
	</insert>
	
	<select id="getWorkPlanById" parameterType="java.lang.String" resultType="cn.taskSys.entity.WorkPlan">
		select 
			<include refid="select_sql"></include> 
		from jx_work_plan wp where id=#{id}
	</select>
	
	<select id="getWorkPlanList" parameterType="cn.taskSys.entity.WorkPlan" resultType="cn.taskSys.entity.WorkPlan">
		select z.* from (
			select 
				<include refid="select_sql"></include>,u.user_name principalName,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE wp.department=p.code and p.type_code='01') departmentName,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE wp.type=p.code and p.type_code='17') typeName,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE wp.importance=p.code and p.type_code='16') importanceName
			FROM jx_work_plan wp, jx_users u
			where wp.user_id=u.user_id
			<if test="userId != null and userId != '' ">
				and wp.user_id=#{userId}
			</if>
			<if test="department != null and department != '' ">
				and wp.department=#{department}
			</if>
			<if test="team != null and team != '' ">
				and wp.team=#{team}
			</if>
			<if test="month != null and month != '' ">
				and wp.month=#{month}
			</if>
			<if test="projectName != null and projectName != '' ">
				and wp.project_name like '%${projectName}%'
			</if>
			<if test="type != null and type != '' ">
				and wp.type=#{type}
			</if>
			<if test="principalName != null and principalName != '' ">
				and u.user_name like '%${principalName}%'
			</if>
			ORDER BY wp.project_name, wp.department, wp.principal, wp.add_time desc
		)z  LIMIT 			 
			 <![CDATA[ #{maxResult} OFFSET ( #{page} - 1)*#{maxResult}   ]]>
	</select>
	
	<select id="getWorkPlanListCount" parameterType="cn.taskSys.entity.WorkPlan" resultType="java.lang.Integer">
		select count(*) from (
			select 
				<include refid="select_sql"></include>,u.user_name principalName,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE wp.department=p.code and p.type_code='01') departmentName,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE wp.type=p.code and p.type_code='17') typeName,
				(select p.name FROM JX_GLOBE_DICTIONARY p WHERE wp.importance=p.code and p.type_code='16') importanceName
			FROM jx_work_plan wp, jx_users u
			where wp.user_id=u.user_id
			<if test="userId != null and userId != '' ">
				and wp.user_id=#{userId}
			</if>
			<if test="department != null and department != '' ">
				and wp.department=#{department}
			</if>
			<if test="team != null and team != '' ">
				and wp.team=#{team}
			</if>
			<if test="month != null and month != '' ">
				and wp.month=#{month}
			</if>
			<if test="projectName != null and projectName != '' ">
				and wp.project_name like '%${projectName}%'
			</if>
			<if test="type != null and type != '' ">
				and wp.type=#{type}
			</if>
			<if test="principalName != null and principalName != '' ">
				and u.user_name like '%${principalName}%'
			</if>
		) ky
	</select>
	
	<select id="exportWorkPlanList" parameterType="cn.taskSys.entity.WorkPlan" resultType="cn.taskSys.entity.WorkPlan">
		select 
			<include refid="select_sql"></include>,u.user_name principalName,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE wp.department=p.code and p.type_code='01') departmentName,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE wp.type=p.code and p.type_code='17') typeName,
			(select p.name FROM JX_GLOBE_DICTIONARY p WHERE wp.importance=p.code and p.type_code='16') importanceName
		FROM jx_work_plan wp, jx_users u
		where wp.user_id=u.user_id
		<if test="userId != null and userId != '' ">
			and wp.user_id=#{userId}
		</if>
		<if test="department != null and department != '' ">
			and wp.department=#{department}
		</if>
		<if test="team != null and team != '' ">
			and wp.team=#{team}
		</if>
		<if test="month != null and month != '' ">
			and wp.month=#{month}
		</if>
		<if test="projectName != null and projectName != '' ">
			and wp.project_name like '%${projectName}%'
		</if>
		<if test="type != null and type != '' ">
			and wp.type=#{type}
		</if>
		<if test="principalName != null and principalName != '' ">
			and u.user_name like '%${principalName}%'
		</if>
		ORDER BY wp.project_name, wp.department, wp.principal, wp.add_time desc
	</select>
	
	<update id="updateWorkPlan" parameterType="cn.taskSys.entity.WorkPlan"> 
         update jx_work_plan set
         <if test="projectCode != null and projectCode != '' ">project_code = #{projectCode},</if>
         <if test="projectName != null and projectName != '' ">project_name = #{projectName},</if>
         <if test="department != null and department != '' ">department = #{department},</if>
         <if test="departmentPlan != null and departmentPlan != '' ">department_plan = #{departmentPlan},</if>   
         <if test="importance != null and importance != '' ">importance = #{importance},</if>      
         <if test="principal != null and principal != '' ">principal = #{principal},</if>  
         <if test="verifier != null and verifier != '' ">verifier = #{verifier},</if>     
         <if test="type != null and type != '' ">type = #{type},</if>   
         <if test="addTime != null and addTime != '' ">add_time = #{addTime},</if>     
         <if test="content1 != null and content1 != '' ">content1 = #{content1},</if>    
         <if test="teamMember1 != null and teamMember1 != '' ">team_member1 = #{teamMember1},</if>    
         <if test="completeStatus1 != null and completeStatus1 != '' ">complete_status1 = #{completeStatus1},</if>     
         <if test="content2 != null and content2 != '' ">content2 = #{content2},</if>   
         <if test="teamMember2 != null and teamMember2 != '' ">team_member2 = #{teamMember2},</if>    
         <if test="completeStatus2 != null and completeStatus2 != '' ">complete_status2 = #{completeStatus2},</if> 
         <if test="content3 != null and content3 != '' ">content3 = #{content3},</if>   
         <if test="teamMember3 != null and teamMember3 != '' ">team_member3 = #{teamMember3},</if>    
         <if test="completeStatus3 != null and completeStatus3 != '' ">complete_status3 = #{completeStatus3},</if>  
         <if test="content4 != null and content4 != '' ">content4 = #{content4},</if>   
         <if test="teamMember4 != null and teamMember4 != '' ">team_member4 = #{teamMember4},</if>    
         <if test="completeStatus4 != null and completeStatus4 != '' ">complete_status4 = #{completeStatus4},</if>  
         <if test="content5 != null and content5 != '' ">content5 = #{content5},</if>   
         <if test="teamMember5 != null and teamMember5 != '' ">team_member5 = #{teamMember5},</if>    
         <if test="completeStatus5 != null and completeStatus5 != '' ">complete_status5 = #{completeStatus5},</if>    
         <if test="userId != null and userId != '' ">user_id = #{userId},</if>
         <if test="title1 != null and title1 != '' ">title1 = #{title1},</if>
         <if test="title2 != null and title2 != '' ">title2 = #{title2},</if>
         <if test="title3 != null and title3 != '' ">title3 = #{title3},</if>
         <if test="title4 != null and title4 != '' ">title4 = #{title4},</if>
         <if test="title5 != null and title5 != '' ">title5 = #{title5},</if>
         <if test="risk != null and risk != '' ">risk = #{risk},</if>
         <if test="measures != null and measures != '' ">measures = #{measures},</if>  
         <if test="month != null and month != '' ">month = #{month},</if>   
         id = #{id} 
         WHERE id = #{id}  
    </update>
    
    <delete id="deleteWorkPlan" parameterType="cn.taskSys.entity.WorkPlan">
		delete from  jx_work_plan where id = #{id}
	</delete>
	
</mapper>





