/*公共样式*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
img {
max-width: 100%;
height: auto;
width:auto\9; ie8
-ms-interpolation-mode:bicubic;为了照顾ie图片缩放失真
}
a{text-decoration:none;font-family: Microsoft YaHei,Tahoma,Arial,sans-serif;outline: none;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
q:before,q:after {content:''} 
abbr,acronym { border:0}
input{outline-style: none;}
body{background-color: #fff;}


.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mr5{margin-right: 5px;}
.mr20{margin-right: 20px;}
.mr15{margin-right: 15px;}
.mr10{margin-right: 10px;}
.ml5{margin-left: 5px;}
.pl10{padding-left: 10px;}
.pr10{padding-right: 10px;}
.fl{float: left;}
.fr{float: right;}


样式
.all{
	font-family: '微软雅黑';
}
.r_top{
	padding-left:30px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	color: #666;
	border-bottom: 1px solid #e3e3e3; 
}
.r_box{
	padding: 0 20px;
	min-width: 990px;
}
.b_top{
	height: 68px;
	border-bottom: 1px solid #ccd4e1;
	line-height: 68px;
}
.b_top .label{
	font-size: 14px;
	color: #666;
}
.b_top .input{
	width: 148px;
	height: 26px;
	border: 1px solid #ccd4e1;
	padding: 0 5px;
}
.b_top .select{
	width: 148px;
	height: 26px;
	border: 1px solid #ccd4e1;
	padding: 0 5px;
	background: url(../img/xia0.png)no-repeat center right 10px;
	-webkit-appearance: none;
} 
.list{
	padding: 25px 0	10px;
}
.list .table00{
	border-collapse: collapse;
    border-spacing: 0;
}
.table00 td{
	border: 1px solid #e6e6e6;
	font-size: 14px;
	color: #808080;
	line-height: 56px;
	text-align: center;
}
.table00 th{
	border: 1px solid #e6e6e6;
	font-size: 14px;
	color: #808080;
	line-height: 56px;
	text-align: center;
	font-weight: bold;
	background: #e6f0f5;
	color: #808080;
}
.table00  tbody tr:nth-child(even){
	background: #f7fbfc;
}
.table00 tbody tr:hover{
	background: #f7fbfc;
}
.wen{
	width: 100%;
}
.wen .w_yi{
	padding: 10px 0;
}
.wen .w_yi .label01{
	width: 120px;
	text-align: right;
	font-size: 14px;
	display: block;
	color: #666;
	vertical-align: top; 
	word-wrap: break-word; 
}
.wen .w_yi .textarea{
	height: 38px;
	resize: none;
	padding: 5px;
	border: 1px solid #e6e6e6;
}
.div_btn{
	text-align: right;
}
.div_btn input{
	width: 70px;
	height: 24px;
	background: #408ddf;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
	border-radius: 3px;
	margin: 0 5px;
}